<div >

    <nav id="myNavbar" class="navbar navbar-default navbar-fixed-top anchor">
        <!--<div class="container nav_container builder_nav_container">-->

            <!--<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">-->

                <ul class="nav navbar-nav">

                    <li class="hidden active">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <svg class="icon icon-EZStack"><use xlink:href="#icon-EZStack"></use></svg>
                    </li>
                    <li id="dashBtn" class="builder_dash_btn " >
                        <a class="builder_dash_link" href="#">Dashboard</a>
                    </li>
                    <li id="componentsBtn" class="builder_dash_btn">
                        <a class="builder_dash_link" href="#">Components</a>
                    </li>
                </ul>
                <% if (typeof username !== 'undefined' && username.length > 0) { %>

                <ul class="nav navbar-top-links navbar-right">

                    <!-- /.dropdown -->
                    <li class="dropdown dropdown-settings">
                        <a aria-expanded="false" class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-user fa-fw userIcon"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li><a href="#" data-toggle="modal" data-target="#profileModal">
                                    <i class="fa fa-user fa-fw "></i> <%= username %> Profile</a></li>
                            <li><a href="#" data-toggle="modal" data-target="#setupModal"><i class="fa fa-gear fa-fw"></i> Settings</a></li>
                            <li class="divider"></li>
                            <li><a href="/logout"><i class="fa fa-sign-out fa-fw"></i> Logout</a></li>
                        </ul>
                        <!-- /.dropdown-user -->
                    </li>
                    <!-- /.dropdown -->
                </ul>
                <% } %>
            <!--</div>-->

        <!--</div>-->
    </nav>

</div>