    <div id="myNavbar" class="">
                <div class="topRow">

                    <div id="navTopIcon">

                    </div>
                    <div id="os-panels">

                        <div class='panel dashPanel os-panel'>
                            <div class='panel-body dashPanelBody os-panel-body'>
                                <span class="dashboardLabel" >CPU Load: </span>
                                <span class="osValue" id="osCPUValue" >%</span>
                            </div>
                        </div>


                        <div class='panel dashPanel os-panel'>
                            <div class='panel-body dashPanelBody os-panel-body'>
                                <span class="dashboardLabel" >Free Mem: </span>
                                <span class="osValue" id="osFMValue" >GB</span>
                            </div>
                        </div>

                        <div class='panel dashPanel os-panel'>
                            <div class='panel-body dashPanelBody os-panel-body os-panel-body-status'>
                                <span class="dashboardLabel" >Build Status: </span>
                                <span class="osValue" id="resultsStatus" >Idle</span>
                            </div>
                        </div>
                    </div>
                    <!-- /.dropdown -->
                    <div class="dropdown dropdown-settings">
                        <div id="stylePickMenu">
                            <span class="radio stylePickTop" data-id="default">
                                <label><input type="radio" id ="defaultStyleRadioTop" name="setupRadio" checked><i class='fa fa-sun-o fa-fw '></i></label>
                            </span>
                            <span class="radio stylePickTop" data-id="dark">
                                <label><input type="radio" id="darkStyleRadioTop" name="setupRadio" > <i class='fa  fa-moon-o fa-fw '></i></label>
                            </span>
                        </div>
                        <a aria-expanded="false" class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i id="user-menu" class="fa fa-user fa-fw userIcon"></i>
                        </a>
                        <ul id="userMenuDrop" class="dropdown-menu dropdown-user topMenuDropdown">
                            <li><a href="#" data-toggle="modal" data-target="#profileModal">
                                    <i class="fa fa-user fa-fw "></i> <%= username %> Profile</a></li>
                            <li><a href="#" data-toggle="modal" data-target="#setupModal"><i class="fa fa-gear fa-fw"></i> Settings</a></li>
                            <li class="divider"></li>
                            <li><a href="/logout"><i class="fa fa-sign-out fa-fw"></i> Logout</a></li>
                        </ul>
                        <a id="sidebarBtn" data-toggle="collapse" href="#" data-target="#sidebar" role="button" class="">
                            <i class="fa fa-bars fa-lg"></i>
                        </a>
                        <!-- /.dropdown-user -->
                    </div>
                </div>

                <!--<div class="nav navbar-top-links ">-->



                    <!--&lt;!&ndash; /.dropdown &ndash;&gt;-->
                <!--</div>-->
    </div>
