<div >

    <nav id="myNavbar" class="navbar navbar-default navbar-fixed-top anchor">
                <ul class="nav navbar-nav">

                    <li class="hidden active">
                        <a href="#page-top"></a>
                    </li>
                    <li id="navLeftIcon">
                        <a href="#" data-toggle="modal" data-target="#demoWelcomeModal"><svg id="ezStackTopIcon" class="icon icon-EZStack"><use xlink:href="#icon-EZStack"></use></svg></a>
                    </li>
                    <li id="dashBtn" class="builder_dash_btn " >
                        <a class="builder_dash_link" href="#">Dashboard</a>
                    </li>
                    <li id="componentsBtn" class="builder_dash_btn">
                        <a class="builder_dash_link" href="#">Components</a>
                    </li>
                </ul>

                <ul class="nav navbar-top-links navbar-right">

                    <!-- /.dropdown -->
                    <li class="dropdown dropdown-settings">
                        <div id="stylePickMenu">
                            <span class="radio stylePickTop" data-id="default">
                                <label><input type="radio" id ="defaultStyleRadioTop" name="setupRadio" checked><i class='fa fa-sun-o fa-fw '></i></label>
                            </span>
                            <span class="radio stylePickTop" data-id="dark">
                                <label><input type="radio" id="darkStyleRadioTop" name="setupRadio" > <i class='fa  fa-moon-o fa-fw '></i></label>
                            </span>
                        </div>
                        <a aria-expanded="false" class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i id="user-menu" class="fa fa-user fa-fw userIcon"></i>
                        </a>
                        <ul id="userMenuDrop" class="dropdown-menu dropdown-user topMenuDropdown">
                            <li><a href="#" data-toggle="modal" data-target="#profileModal">
                                    <i class="fa fa-user fa-fw "></i> <%= username %> Profile</a></li>
                            <li><a href="#" data-toggle="modal" data-target="#setupModal"><i class="fa fa-gear fa-fw"></i> Settings</a></li>
                            <li class="divider"></li>
                            <li><a href="/logout"><i class="fa fa-sign-out fa-fw"></i> Logout</a></li>
                        </ul>
                        <!-- /.dropdown-user -->
                    </li>

                    <!-- /.dropdown -->
                </ul>
    </nav>

</div>