html, body {
   height: 100%;
   overflow: hidden;

   font-family: "Open Sans",Arial,sans-serif;
}
.container-fluid {
   padding-right: 0px;
   padding-left: 0px;
}
.container-fluid-custom {
   height : 100vh;
}

.row {
   margin-right: 5px;
   margin-left: 5px;
}

.top-row{
   position: relative;
}

.panel {
   margin-bottom: 0px;
}

.leftTree {
   float: left;
   //width: 30%;
}

#jstree_div{
   height: calc(100vh - 23px - 22px);
   width:100%;
   overflow-y: auto;
   overflow-x: auto;
   margin-bottom: 2px;
}

#jslibtree_div{
   height: calc(100vh - 23px - 22px);
   width:100%;
   overflow-y: auto;
   overflow-x: auto;
   margin-bottom: 2px;
}

.tree-panel-body{
   padding: 0px 0px;
   //width:227px;
}

topLib-col-fixed-240{
   width:250px;
   position:absolute;
   z-index:1;
   left: 0px;
}

.top-col-fixed-240{
   width:250px;
   position:absolute;
   z-index:1;
   //left: 250px;
}


.top-col-offset-240{
   position:absolute;
   width: 100%;
   /*overflow-x: auto;*/
   //left:250px;
   //padding-right: 0px;
   z-index:0;
}

.col-fixed-240{
   width:243px;
   position:absolute;
   z-index:1;
   padding-left: 0px;
}

.treePanelHandle{
   float: right;
   width: 3px;
   height: 100%;
   cursor: w-resize;
   background-color: #dedcdc;
}



.col-offset-240{
   padding-left:250px;
   padding-right: 0px;
   z-index:0;
}


.col-fixed-120{
   width:120px;
   position:absolute;
   /*z-index:1;*/
}

.col-offset-120{
   padding-left:135px;
   z-index:0;
}


#terminal-container .terminal {
   //background-color: #111;
   //color: #fafafa;
   //padding: 2px;
}
#terminal-container .terminal:focus .terminal-cursor {
   background-color: #fafafa;
}


#terminal-container {
   background-color: #111;
   padding: 0px;
   font-family: monospace;
   line-height: 1;
   overflow: hidden;
    font-size: 1em;
   display:block;
   color: #ffffff;
}

#results_html{
   white-space: pre;
   display: inline-block;
   overflow-x: auto;
   overflow-y: hidden;
   //height: calc(50vh - 23px - 10px);
   background-color: #63657c;
   padding: 3px;
}

.result_history{
   color: #bebebe;
}
.result_fresh{
   color: #ffffff;
}

#results_codes{
   //border: 1px solid red;
   width: 50%;
   white-space: pre;
   display: inline-block;
   //display: inline;
   float: right;
   overflow-x: auto;
   //overflow-y: hidden;
   height: calc(50vh - 23px - 10px);
   background-color: #63657c;
   color: #bbd9e8;
   padding: 3px;
}
/*.panel-body {*/
   /*//overflow: auto;*/
/*}*/

/*.jobScreen{*/
   /*padding-top: 6px;*/
/*}*/

#job-form-panel {
   padding: 15px;
   height: calc(100vh - 20px - 22px);
   overflow-y: auto;
}
#sys-form-panel {
   padding: 15px;
   height: calc(100vh - 20px - 22px);
   overflow-y: auto;
}

.jobPanel{
   margin-bottom: 2px;
}
.sysPanel{

}
.dashboardPanel{
   overflow-y: auto;
   width: 100%;
}

input[readonly].form-control {
   cursor: text;
}
textarea[readonly].form-control {
   cursor: text;
}

.nomarg{
padding-left: 0px;

}

.navbar-right{
   float: right;
   margin-top: 0;
   margin-bottom: 0px;
}

/*.right-menux {*/
   /*color: #3c763d;*/
   /*margin-bottom: 0px;*/
/*}*/

.jobFormbtn {
   padding: 1px 2px;
   font-size: 12px;
   font-weight: 400;
   width:90px;
}
.buttonRow {
   padding-left: 40px;
   padding-top: 5px;
   display: inline-block;
   white-space: nowrap;
}

.SysTree{
   /*height: calc(50vh - 23px - 22px);*/
   /*overflow: auto;*/
   /*margin-bottom: 2px;*/
}



.results-list-body{
   overflow: auto;
   //height: calc(50vh - 22px - 10px);
   padding: 0px;
}


.term-panel-body{
   padding: 0px;
}

.cust-panel{
   margin-bottom: 0px;
}

.cust-panel-group{
   margin-bottom: 15px;
}

.cust-panel-heading {
   padding: 1px 1px;
   /*margin-top: 5px;*/
   /*margin-bottom: 1px;*/
}

.resultsListRow{
   padding: 2px;
}


.results-group {
   overflow: auto;
    margin-bottom: 0px;
}

.navbar-nav{
   display: flex;
   -ms-flex-direction: row;
   flex-direction: row;
}

.navbar-nav>li>a {
   padding-top: 0px;
   padding-bottom: 0px;
}

.navbar-top-links li a {
   padding: 0px;
   min-height: 0px;
}

.navbar {
   position: relative;
   min-height: 0px;
   margin-bottom: 0px;
   border: 1px solid transparent;
}

.codes_btn{
   padding: 0px 12px;
}

/*.modal-dialog {*/
   /*width: 80vw;*/
/*}*/

.modal-run-dialog {
   width: 30vw
}
.modal-copy-dialog {
   width: 30vw
}


.modal-footer {
   border-top: 0px;
}

.var_Table_td{
   white-space:nowrap;
   overflow: hidden;

}

.var_Table>tbody>tr>td, .mytable>tbody>tr>th, .mytable>tfoot>tr>td, .mytable>tfoot>tr>th, .mytable>thead>tr>td, .mytable>thead>tr>th {
   padding: 2px;
}

.var_Table{
   table-layout:fixed;
  }

.varBody{
 //  max-height: 60vh;
   max-height: 80%;
   overflow: auto;
   max-height: 300px;
}

.varCheckbox {
   /*position: relative;*/
   /*display: block;*/
   margin-top: 0px;
   margin-bottom: 0px;
}

.code{
   font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
   line-height: 1;
}

.form-control {
   cursor: text;
}
#rowHandle {
    position: absolute;
    /*top: -4px;*/
    /*bottom: 0;*/
    height: 4px;
    width: 100%;
    cursor: s-resize;
    z-index: 2;
    background-color: #dedcdc;
}
.jstree-proton .jstree-anchor {
    margin: 0px 0 0px;
}

/*.jstree-dnd-parent {*/
   /*font-weight: bold;*/
/*}*/



.jstree-leaf a.jstree-hovered {
   //height: 30px;
}

.jstree-container-ul {
   margin: 0px 0px 20px !important;
}

#upload-input {
   display: none;
}
.upload-btn {
   color: #ffffff;
   background-color: #F89406;
   border: none;
}

.upload-btn:hover,
.upload-btn:focus,
.upload-btn:active,
.upload-btn.active {
   color: #ffffff;
   background-color: #FA8900;
   border: none;
}

#upload-key {
   display: none;
}
#upload-access {
   display: none;
}
.uploadKey-btn {
   color: #ffffff;
   background-color: #F89406;
   border: none;
}

.uploadKey-btn:hover,
.uploadKey-btn:focus,
.uploadKey-btn:active,
.uploadKey-btn.active {
   color: #ffffff;
   background-color: #FA8900;
   border: none;
}

.statusBox{
   /*display: block;*/
   width: 50px;
   height: 34px;
   padding: 6px 12px;
   font-size: 14px;
   line-height: 1.42857143;
   border: 0px solid #ccc;
   border-radius: 4px;
}

#screenShot {

   /*width: 80%;*/

   box-shadow: 3px 5px 18px 1px rgba(51, 51, 51, 0.88);
   width: 90%;
}
#screenShotImage {
   height: 330px;
   box-shadow: 3px 5px 18px 1px rgba(51, 51, 51, 0.88);
}

.screenShotImageHolder{
   text-align: center;
   padding-bottom: 20px;
}

.topLeftForm{
   width:100%;
   padding: 0px;
}

.vakata-contextmenu{
   /*display: none;*/
   /*z-index:2;*/
}

#jstree-marker{
   /*z-index:2;*/
   display: none !important
}

.form-custom-meta{
   display: inline;
}

.jobSetFormbtn{
   width: 30px;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.switch {
   position: relative;
   display: inline-block;
   width: 47px;
   height: 17px;
}

.switch input {
   opacity: 0;
   width: 0;
   height: 0;
}

.slider {
   position: absolute;
   cursor: pointer;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background-color: #ccc;
   -webkit-transition: .4s;
   transition: .4s;
}

input.success:checked + .slider {
   background-color: #8bc34a;
}

.slider:before {
   position: absolute;
   content: "";
   height: 13px;
   width: 13px;
   left: 4px;
   bottom: 2px;
   background-color: white;
   -webkit-transition: .4s;
   transition: .4s;
}


input:checked + .slider:before {
   -webkit-transform: translateX(26px);
   -ms-transform: translateX(26px);
   transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
   border-radius: 34px;
}

.slider.round:before {
   border-radius: 50%;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.systemRow{
   font-size: 16px;
}
.disabledRow{

}
.rerunnableRow{

}

.needfull{

}

.customLibDropBox{
   padding-right: 4px;
   padding-left: 4px;
}

.screenShotCol{

}

.jstree-disabled{
   background-color: transparent;
}

.welcome-modal-body{

}

.welcome-modal-content{
   opacity: .9;
}

.modal-clear-dialog {
   width: 30vw;
}

/* Tab Navigation */
.nav-tabs {
   margin: 0;
   padding: 0;
   border: 0;
   margin-left: 2px;
}

.nav-tabs>li {
   margin-bottom: -2px;
   border-radius: 15px 50px 30px 5px;
}

.nav-tabs > li > a {
   border:0;
   border-radius: 15px 50px 30px 5px;
   padding: 10px 15px;
   padding-top: 10px;
   padding-right: 5px;
   padding-bottom: 5px;
   padding-left: 15px;
}

/* Tab Content */
.tab-pane {
   border-radius: 0;
   text-align: left;
   /*padding-top: 5px;*/
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus{
   border:0;
   border-radius: 15px 50px 30px 5px;
}

.resultsStatus{
   overflow-y: auto;
   overflow-x: hidden;
   //padding-top: 15px;
   margin: 5px;
   text-align: left;
}

.rightCol{
   padding:0px;
   padding-top: 1px;
}

.build-label{
   white-space: nowrap;
}

.btn-dashboard{
   padding:0px
}
.dashboard{
   padding-top: 3px;

}

.dashboardLabel{
   font-size: 1rem;
   font-weight: 400;
   line-height: 24px;
}

.dashBoardList{

}

.dashBoardListRow{


}

.dashTableRow{
   cursor: pointer;
}

.dashTableEnableItem{
   text-align: center;
}
.dashTableSuccessItem{
   text-align: center;
}


.dashListRowClicked{

}

.dashListRowClicked > td.dashTableNameItem{
   font-weight: 900;
   font-size: 16px;
}

.dashListRowClicked > td.dashTableNameItem{
   font-weight: 900;
   font-size: 16px;
}

div.dashTableNameButtonRow, div.dashTableEnabledButtonRow{
   -moz-transition: max-height 0.2s;
   -ms-transition: max-height 0.2s;
   -o-transition: max-height 0.2s;
   -webkit-transition: max-height 0.2s;
   transition: max-height 0.2s;
   overflow: hidden;
   max-height:0px;

}
.dashListRowClicked > td.dashTableNameItem > div.dashTableNameButtonRow, .dashListRowClicked > td.dashTableEnableItem > div.dashTableEnabledButtonRow{
   -moz-transition: max-height 0.2s;
   -ms-transition: max-height 0.2s;
   -o-transition: max-height 0.2s;
   -webkit-transition: max-height 0.2s;
   transition: max-height 0.2s;
   overflow: hidden;
   max-height: 1.2em;
}

/*.dashboardDetailsHr{*/
   /*border-top: 1px solid;*/
   /*margin-top: 0px;*/
   /*margin-bottom: 0px;*/
/*}*/

/*.DashListPass{*/
   /*color: #f3f3f3;*/
   /*background-color: #10a54a;*/
/*}*/
/*.DashListFail{*/
   /*color: #f3f3f3;*/
   /*background-color: #c5862b;*/
/*}*/
/*.DashListNotBuilt{*/
   /*color: #f3f3f3;*/
   /*background-color: #0f6ab4;*/
/*}*/

/*.DashListStatusCol{*/
   /*width: 30px;*/
   /*padding-right: 5px;*/
   /*padding-left: 5px;*/
/*}*/

.DashListRowPass{
   color: #10a54a;
   /*background-color: #e7f6ec;*/
   /*border: 1px solid #10a54a;*/
}
.DashListRowFail{
   color: #d52322;
   /*background-color: #f9f2e9;*/
   /*border: 1px solid #c5862b;*/
}
.DashListRowNotBuilt{
   color: #2c3433;
   /*background-color: #e7f0f7;*/
   /*border: 1px solid #0f6ab4;*/
}

.os-panel{
   /*width:80px;*/
   display: inline-block;
   margin-bottom: 20px;
   margin-right: 20px;
}
.os-panel-heading{
   border: 1px solid #0f6ab4;
   background-color: #0f6ab4;
   color: #fcfcfd;
   white-space: nowrap;
}
.os-panel-body{
   text-align: center;
   font-weight: 700;
   padding: 5px;
   /*background-color: #f3f3f3;*/
   /*color: #49494b;*/
}

#firstRow div.col-sm-2{
   min-width: 90px;
}

.currentBuildStatusPanel{
   /*box-shadow: 3px 5px 18px 1px rgba(0, 0, 0, 0.5);*/
}

.launchPadHeading{


}

.lastScreeenshotPanel{
   /*box-shadow: 3px 5px 18px 1px rgba(0, 0, 0, 0.5);*/
}

.dashboardPanelHeading{
   padding: 3px 5px;
   border: 1px solid #0f6ab4;
   background-color: #0f6ab4;
   color: #fcfcfd;
}

.launchPadPanel{
   /*margin-right: 20px;*/
   /*margin-left: 20px;*/
   margin-bottom: 20px;
   border: 1px solid #0f6ab4;
   /*max-width: 350px;*/
   /*display: inline-grid;*/
   /*box-shadow: 3px 5px 18px 1px rgba(0, 0, 0, 0.5);*/
}

.launchPadBody{
   padding-right: 0px;
   padding-top: 0px;
   padding-bottom: 0px;
   padding-left: 0px;
}

.launchPadCol{
   min-width: 350px;
}
.dashboardDetails{
   /*height: 320px;*/
}


.dashboardDetailsTile{
   display: inline-block;
   margin-right: 20px;
   margin-left: 20px;
   font-size: 20px;
   font-weight: 700;
}
.dashboardDetailsDescription{
   margin-left: 20px;
   margin-top: 20px;
}

.dashboardDetailsSysName{
   margin-left: 20px;
   margin-top: 5px;
   /*white-space: nowrap;*/
   font-size: 18px;
   font-weight: 500;
}

.screenShotImageDashboard{
   width: 100%;
   height: 100%;
   max-height: 260px;
   max-width: 350px;
   /*box-shadow: 3px 5px 18px 1px rgba(51, 51, 51, 0.88);*/
}

.dashboardMenu{
   margin-left: 10px;
   margin-bottom: 10px;
   display: inline-block;
}
.dashboardMenuItem{
    /*width:70px;*/
   font-size: 16px;
   font-weight: 700;
    display: inline-block;
    border-right: 3px solid #0f6ab4;
    color:#0f6ab4;
    /*padding-left: 5px;*/
   padding-right: 5px;
   text-align: center;
   cursor: pointer;
 }
.dashboardMenuItemLast{
   border: 0px solid;
}

.screenshot-panel-body{
   max-height: 300px;
   text-align: center;
}

.center{
   text-align: center;
}

.status-panel-body{
   max-height: 300px;
   /*height: 300px;*/
   overflow-y: auto;
}


.locTree-panel-body {
   margin-top: 1px;
}

.modal-dialog-welcome{
   width:50vw;
   min-width: 100px;
}
.modal-dialog-var{
   width:50vw;
   min-width: 500px;
   max-width: 100vw;
}

.modal-dialog-varHelp{
   width:50vw;
   min-width: 500px;
   max-width: 100vw;
}

.modal-del-dialog {
   width: 30vw
}

.dashBoardTopRow{
   margin-top: 10px;
   margin-bottom: 10px;
}

.launchPanelBody{
   padding: 0px;
}

.panel{
   /*background-color: rgba(0,0,0,0);*/
}

.dashPanel {
   border: 0px solid transparent;
   /*opacity: .3;*/
}

.launchPadPanelIcon{
   background-repeat: no-repeat;
   height: 21px;
   width: 21px;
   display: inline-block;
   margin-right: 5px;
}

.search-group{
   float: right;
   width: calc(100% - 130px);
   max-width: 200px;
   min-width:50px;
   margin-bottom: 0px;
   padding-left: 5px;
}

.searchInput{
   height: 20px;
   width: 100%;
   padding-left: 5px;
}

.search-icon{
   float: right;
}

a.foundInSearch{
   font-weight: 700;
   font-style: normal;
}

a.foundNotInSearch{
   font-weight: 200;
   font-style: italic;
   font-size: .75rem;
}

a.foundInSearchParent{
   font-weight: 500;
   font-style: normal;
}

.icon {
   display: inline-block;
   width: .8em;
   height: 1em;
   stroke-width: 0;
   stroke: currentColor;
   fill: currentColor;
}

.icon-EZStack {
   width: 2em;
   height: 1.8em;
   stroke-width: 0;
   stroke: currentColor;
   fill: currentColor;
}

.nav > li > a {
   position: relative;
   display: block;
   #padding: 10px 15px;
}

.navbar-nav > li{
   text-align: center;
}

.navbar-nav > li > a {
   #padding-top: 10px;
   #padding-bottom: 10px;
   line-height: 21px;
}

@media (min-width: 768px) {
   .navbar-nav > li > a {
      padding-top: 2px;
      padding-bottom: 2px;
   }
}


@media (min-width: 768px) {
   .navbar-header {
      float: left;
   }
}

.builder_nav_container{
   width:100%;
   margin-right: 20px;
   margin-left: 20px;
}

.builder_dash_btn{
   margin-left: 30px;
   margin-right: 3px;
   font-weight: 700;
}

.builder_dash_btn{
   width: 110px;
}

.dashSystemLabel{
   /*margin-left: 20px;*/
   /*font-weight: 700;*/
   /*font-size: 16px;*/
}

.dashSystemDropdownButton{

   background: none;
   padding: 0;
   border: none;
   font-size: 16px;
}

.dashDropButtonHR{
   margin-top: 2px;
   margin-bottom: 20px;
   border-color: inherit;
}

.dashListCol{
   width:100%;
}

.dashSystemsDropdownMenu{
   padding:2px ;
}
.dropdown-settings{

}

.dashSystemIcon{
   padding-right:3px;
}

tr {
   width: 100%;
   display: inline-table;
   table-layout: fixed;
}


.dashTable{
   color: inherit;
   //border-color: white;
   border: none;
}

.dashTable > thead > tr > th{
   border-top: 0px solid;
   border-bottom: 0px solid;
   padding-bottom: 0px;
}
/*.dashTable > thead > tr.dashListRowClicked > th{*/
  /*color: #fff;*/
/*}*/


.dashTbody{
   overflow-y: auto;
   width: 98%;
}

.dashTbody > tr.dashListRowClicked > td.dashTableNameItem{
   border-left: 3px solid;
}


.dashTbody > tr > td{
   border-top: 0px solid;
   border-bottom: 0px solid;
   margin-top: 0.5rem;
   padding: 0.5rem;
}


.userIcon{
   font-size: 20px;
}

.dropdown-menu > a{
   white-space: nowrap;
}

.topMenuDropdown{
   min-width: 11rem;
}

.navbar-fixed-top{
   padding-bottom: 0px;
   padding-top: 0px;
}

.jobCard{
   margin-bottom: 30px;

}

.jobCard > .card-header {
   cursor: pointer;
   padding: 3px;
}

tbody.dashTbody{
   /*height: calc(100vh - 500px);*/
   min-height: 100px;
   position: absolute;
}

th.col-1, td.col-1{
   min-width: max-content;

}

/*.tableFixHead          { overflow-y: auto; height: 100px; }*/
/*.tableFixHead table thead tr th { position: sticky; top: 0; }*/

.dashTbody > tr{
   transition: height .5s;
   //height: 0;
   overflow: hidden;
}
