
html, body {
   /*height: 100%;*/
   /*min-height: 100%;*/
   overflow: hidden;
    font-family: "Open Sans",Arial,sans-serif;
}

body {
    transform: scaleX(0.0);
}

.jobScreen{
   overflow-x: hidden;
   /*padding-bottom: 3px;*/
}
.sysScreen{
   overflow-x: hidden;
   /*padding-bottom: 3px;*/
}


.container-fluid {
    padding-right: 0px;
    padding-left: 0px;
}
.container-fluid-custom {
    height : calc(var(--vh, 1vh) * 100);
   /*min-height: 100vh;*/
}

.row {
   margin-right: 5px;
   margin-left: 5px;

}

#mainRow{
   flex-wrap: nowrap;
   margin-left: 0px;
}

.top-row{
   position: relative;
}

.panel {
   margin-bottom: 0px;
}

.leftTree {
   float: left;
}

#jstree_div{
/*calc(var(--vh, 1vh) * 100)*/
   height: calc(var(--vh, 1vh) * 100 - 23px - 22px);
   width:100%;
   overflow-y: auto;
   overflow-x: auto;
   /*margin-bottom: 2px;*/
}

#jslibtree_div{
   height: calc(var(--vh, 1vh) * 100 - 23px - 22px);
   width:100%;
   overflow-y: auto;
   overflow-x: auto;
   margin-bottom: 2px;
}

.tree-panel-body{
   padding: 0px 0px;
}

topLib-col-fixed-240{
   width:250px;
   position:absolute;
   z-index:1;
   left: 0px;
}

.top-col-fixed-240{
   width:250px;
   /*position:absolute;*/
   z-index:1;
}


.top-col-offset-240{
   position:absolute;
   width: 100%;
   /*overflow-x: auto;*/
   z-index:0;
}

.col-fixed-240{
   /*width:245px;*/
   /*position:absolute;*/
   /*z-index:1;*/
   /*padding-left: 0px;*/
   min-width: 250px;
}


.treePanelHandle{
   float: right;
   width: 3px;
   margin-left: 3px;
   margin-right: 3px;
   height: 100%;
   cursor: w-resize;
}



.col-offset-240{
   /*padding-left:250px;*/
   /*padding-right: 0px;*/
   /*z-index:0;*/
}


.col-fixed-120{
   width:120px;
   position:absolute;
   /*z-index:1;*/
}

.col-offset-120{
   padding-left:135px;
   z-index:0;
}

#consoleDiv{
   width:100%;
   padding-left: 3px;
}
#terminal-container .terminal {

}
#terminal-container .terminal:focus .terminal-cursor {
   background-color: #fafafa;
}


#terminal-container {
   background-color: #111;
   padding: 0px;
   font-family: monospace;
   line-height: 1;
   overflow: hidden;
    font-size: 1em;
   display:block;
   color: #ffffff;
}

#results_html{
   white-space: pre;
   display: inline-block;
   overflow-x: auto;
   overflow-y: hidden;
   background-color: #63657c;
   padding: 3px;
}

.result_history{
   color: #bebebe;
}
.result_fresh{
   color: #ffffff;
}

#results_codes{
   width: 50%;
   white-space: pre;
   display: inline-block;
   float: right;
   overflow-x: auto;
   height: calc(50vh - 23px - 10px);
   background-color: #63657c;
   color: #bbd9e8;
   padding: 3px;
}

#job-form-panel {
   padding: 15px;
   height: calc(var(--vh, 1vh) * 100 - 20px - 22px);
   overflow-y: auto;
}

.jobCompNameCol{
   padding: 0px;
   min-width: 120px;
}

#sys-form-panel {
   padding: 15px;
   height: calc(var(--vh, 1vh) * 100 - 20px - 22px);
   overflow-y: auto;
}

.jobPanel{
   /*margin-bottom: 2px;*/
}
.sysPanel{

}
.dashboardPanel{
   /*overflow-y: auto;*/
   width: 100%;
   /*height: calc(100vh - 20px);*/
}

@media (max-height: 500px) {

   .dashboardPanel {
      overflow-y: scroll;
      height: calc(var(--vh, 1vh) * 100 - 30px);
      /*min-height: calc(100vh - 30px);*/
   }
   tbody.dashTbody {
      /*height: calc(100vh - 360px);*/
      /*position: absolute;*/
      overflow-y: visible;
   }
}
@media (min-height: 501px) {

   .dashboardPanel {
      overflow-y: auto;
      width: 100%;
      height: calc(var(--vh, 1vh) * 100 - 30px);
   }
   tbody.dashTbody {
      height: calc(var(--vh, 1vh) * 100 - 380px);
      position: absolute;
      overflow-y: auto;
   }
}

input[readonly].form-control {
   cursor: text;
}
textarea[readonly].form-control {
   cursor: text;
}

.nomarg{
padding-left: 0px;

}

.navbar-right{
   float: right;
   margin-top: 0;
   margin-bottom: 0px;
}

.jobFormbtn {
   padding: 1px 2px;
   font-size: 12px;
   font-weight: 400;
   width:95px;
}
.buttonRow {
   padding-left: 40px;
   padding-top: 3px;
   display: inline-block;
   /*white-space: nowrap;*/
}

.SysTree{

}



.results-list-body{
   overflow: auto;
   padding: 0px;
}


.term-panel-body{
   padding: 0px;
}

.cust-panel{
   margin-bottom: 0px;
}

.cust-panel-group{
   margin-bottom: 15px;
}

.cust-panel-heading {
   padding: 1px;
   padding-left: 10px;
   min-width: 185px;
}

.treePanelHeading{
   overflow: hidden;
}

.resultsListRow{
   padding: 2px;
}


.results-group {
   overflow: auto;
    margin-bottom: 0px;
}

.navbar-nav{
   display: flex;
   -ms-flex-direction: row;
   flex-direction: row;
}

.navbar-nav>li>a {
   padding-top: 0px;
   padding-bottom: 0px;
}

.navbar-top-links li a {
   padding: 0px;
   min-height: 0px;
}

.navbar {
   position: relative;
   min-height: 0px;
   margin-bottom: 0px;
   border: 1px solid transparent;
}

.codes_btn{
   padding: 0px 12px;
}

.switchCol{
   min-width: 110px;
   text-align: center;
}

.modal{
   /*added to increase perf in chrome*/
   backface-visibility: hidden;
   transform: translateZ(0);

   /*opacity: .75;*/
   transition: backdrop-filter .5s;
   backdrop-filter: blur(3px);
   z-index: 2000;
}

.modal-dialog {
   max-width: 70vw;
}

#setupModal > .modal-dialog{
   width: 600px;
}


.modal-run-dialog {
   width: 400px;
}

.run-model-body {
   padding-left: 50px
}

.model-label{
   font-weight: 600;
   font-size: 14px;
}

.modal-copy-dialog {
   width: 30vw
}


.modal-footer {
   border-top: 0px;
}

.var_Table_td{
   white-space:nowrap;
   overflow: hidden;

}

.insertScopeGroup div.radio{
   margin-left: 10px;
}

.var_Table>tbody>tr>td, .mytable>tbody>tr>th, .mytable>tfoot>tr>td, .mytable>tfoot>tr>th, .mytable>thead>tr>td, .mytable>thead>tr>th {
   padding: 2px;
}

.var_Table{
   table-layout:fixed;
  }

.varBody{
   /*max-height: 80%;*/
   overflow: auto;
   max-height: 300px;
}

.varCheckbox {
   margin-top: 0px;
   margin-bottom: 0px;
}

.code{
   font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
   line-height: 1;
}

.form-control {
   cursor: text;
}
#rowHandle {
    position: absolute;
    height: 4px;
    width: 100%;
    cursor: s-resize;
    z-index: 2;
    background-color: #dedcdc;
}
.jstree-proton .jstree-anchor {
    margin: 0px 0 0px;
}

.jstree-leaf a.jstree-hovered {
}

.jstree-container-ul {
   margin: 0px 0px 20px !important;
}

#upload-input {
   display: none;
}

/*.upload-btn {*/
   /*color: #ffffff;*/
   /*background-color: #F89406;*/
   /*border: none;*/
/*}*/

/*.upload-btn:hover,*/
/*.upload-btn:focus,*/
/*.upload-btn:active,*/
/*.upload-btn.active {*/
   /*color: #ffffff;*/
   /*background-color: #FA8900;*/
   /*border: none;*/
/*}*/

#upload-key {
   display: none;
}
#upload-access {
   display: none;
}
/*.uploadKey-btn {*/
   /*color: #ffffff;*/
   /*background-color: #F89406;*/
   /*border: none;*/
/*}*/

/*.uploadKey-btn:hover,*/
/*.uploadKey-btn:focus,*/
/*.uploadKey-btn:active,*/
/*.uploadKey-btn.active {*/
   /*color: #ffffff;*/
   /*background-color: #FA8900;*/
   /*border: none;*/
/*}*/

.statusBox{
   /*display: block;*/
   width: 50px;
   height: 34px;
   padding: 6px 12px;
   font-size: 14px;
   line-height: 1.42857143;
   border: 0px solid #ccc;
   border-radius: 10px;
}

/*#screenShot {*/
   /*box-shadow: 3px 5px 18px 1px rgba(51, 51, 51, 0.88);*/
   /*width: 90%;*/
/*}*/
/*#screenShotImage {*/
   /*height: 330px;*/
   /*box-shadow: 3px 5px 18px 1px rgba(51, 51, 51, 0.88);*/
/*}*/


.screenShotImageHolder{
   /*text-align: center;*/
   padding-bottom: 40px;
   min-width: 410px;
}

#screenShotImageHolder , #videoCanvas{
   width:100%;
   /*text-align: center;*/
   /*display: block;*/
   /*max-width: 480px;*/
}


.topLeftForm{
   min-width: 410px;
   padding: 0px;
}

.vakata-contextmenu{
}

#jstree-marker{
   z-index:2;
   /*display: none !important*/
}

.form-custom-meta{
   display: inline;
}

.jobSetFormbtn{
   width: 30px;
}

.switch {
   position: relative;
   display: inline-block;
   width: 47px;
   height: 17px;
}

.switch input {
   opacity: 0;
   width: 0;
   height: 0;
}

.slider {
   position: absolute;
   cursor: pointer;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   -webkit-transition: .4s;
   transition: .4s;
}

/*input.success:checked + .slider {*/
   /*background-color: #8bc34a;*/
/*}*/

.slider:before {
   position: absolute;
   content: "";
   height: 13px;
   width: 13px;
   left: 4px;
   bottom: 2px;
   background-color: white;
   -webkit-transition: .4s;
   transition: .4s;
}


input:checked + .slider:before {
   -webkit-transform: translateX(26px);
   -ms-transform: translateX(26px);
   transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
   border-radius: 34px;
}

.slider.round:before {
   border-radius: 50%;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.systemRow{
   font-size: 16px;
}
.disabledRow{

}
.rerunnableRow{

}

.needfull{

}

.customLibDropBox{
   padding-right: 4px;
   padding-left: 4px;
}

.screenShotCol{

}

.jstree-disabled{
   background-color: transparent;
}

.welcome-modal-body{
   max-height: 80vh;
   overflow: auto;
}

.welcome-modal-body h6{
   font-size: 1rem;
   font-weight: 800;
}
.welcome-modal-body p{

}
.welcome-modal-body h3{
   font-size: 1.3rem;
   font-weight: 800;
}

.welcome-modal-body h2{
   font-size: 1.5rem;
   font-weight: 800;
}

.welcome-modal-content{
   opacity: .9;
}

.welcome-modal-body .welcome-nav{
   font-weight: 700;
   width: 110px;
   text-decoration: none;
}

.modal-clear-dialog {
   width: 30vw;
}

/* Tab Navigation */
.nav-tabs {
   margin: 0;
   padding: 0;
   border: 0;
   margin-left: 2px;
}

.nav-tabs>li {
   margin-bottom: -2px;
   border-radius: 15px 50px 30px 5px;
}

.nav-tabs > li > a {
   border:0;
   border-radius: 15px 50px 30px 5px;
   padding: 10px 15px;
   padding-top: 10px;
   padding-right: 5px;
   padding-bottom: 5px;
   padding-left: 15px;
}

/* Tab Content */
.tab-pane {
   border-radius: 0;
   text-align: left;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus{
   border:0;
   border-radius: 15px 50px 30px 5px;
}

.nav-link {
   white-space: nowrap;
}

#leftCol{
   width: min-content;
   display: inline-block;
}
#rightCol{
   padding:0px;
   padding-top: 1px;
   padding-left: 0px;
   display: inline-block;
   width: 100%;
}

.build-label{
   white-space: nowrap;
   font-size: .8rem;
   font-weight: 400;
   line-height: 24px;
}

.btn-dashboard{
   padding:0px
}
.dashboard{
   padding-top: 3px;

}

.dashboardLabel, .varLabel{
   font-size: .8rem;
   font-weight: 400;
   line-height: 24px;
}

.dashBoardList{

}

.dashBoardListRow{


}

.dashTable > thead > tr > th {
   padding: 0px;
}

.dashTableRow{
   cursor: pointer;
   font-size: 12px;
   margin-top: 2px;
   position: relative;
}

.dashTableRow td > * {
   vertical-align : middle;
}
.dashTableEnableItem{
   text-align: center;
}

.dashTableEnableItem > i, .dashTableSuccessItem > i{
   font-size: 20px;
}
.dashTableSuccessItem{
   text-align: center;
}

.dashTableNameButtonRow{
   white-space: nowrap;
}

.dashListRowClicked .dashTableNameButtonRow, .dashListRowClicked  .dashTableOpenButton{
   display: inline;
}

.dashListRowNotClicked .dashTableNameButtonRow, .dashListRowNotClicked  .dashTableOpenButton{
   display: none;
}

.dashTableNameItem{
   font-size: 14px;
}

.dashListRowClicked > td.dashTableNameItem{
   font-weight: 900;
   font-size: 14px;
   font-weight: bold;
}

div.dashTableNameButtonRow, div.dashTableEnabledButtonRow{
   -moz-transition: max-width 0.2s;
   -ms-transition: max-width 0.2s;
   -o-transition: max-width 0.2s;
   -webkit-transition: max-width 0.2s;
   transition: max-width 0.2s;
   overflow: hidden;
   max-width:0px;

   vertical-align: middle;
   display: inline-block;

}
.dashListRowClicked > td.dashTableNameItem > div.dashTableNameButtonRow, .dashListRowClicked > td.dashTableEnableItem > div.dashTableEnabledButtonRow{
   -moz-transition: max-height 0.2s;
   -ms-transition: max-width 0.2s;
   -o-transition: max-width 0.2s;
   -webkit-transition: max-width 0.2s;
   transition: max-width 0.2s;
   overflow: hidden;
   max-width: 50px;
}

/*.DashListRowPass{*/
   /*color: #10a54a;*/
/*}*/
/*.DashListRowFail{*/
   /*color: #d52322;*/
/*}*/
.DashListRowNotBuilt{
   color: #2c3433;
}
.os-panel-column{
   /*min-width: 85px;*/
}
.os-panel{
   display: inline-block;
   /*margin-bottom: 20px;*/
   margin-right: 20px;
}
.os-panel-body{
   text-align: center;
   /*font-weight: 700;*/
   /*padding: 5px;*/
   padding-top: 2px;
   padding-right: 5px;
   padding-bottom: 2px;
   padding-left: 5px;
   border-radius: 10px;
   width: 140px;
}

/*div.col-sm-2{*/
   /*min-width: 120px;*/
/*}*/

.currentBuildStatusPanel{
   /*height: 58px;*/
   /*margin-bottom: 20px;*/
   display: inline-block;
   width: 100%;
}

.status-panel-body{
   max-height: 284px;
   /*height: 300px;*/
   overflow: hidden;
   font-weight: 700;
   padding: 5px;
   border-radius: 10px;
   width:100%;
}

.resultsStatus{
   overflow-y: hidden;
   overflow-x: hidden;
   text-align: left;
   white-space: nowrap;
}

.launchPadHeading{


}

.lastScreeenshotPanel{

}

.launchPadPanel{
   margin-bottom: 20px;
   /*border: 1px solid #0f6ab4;*/
}

.launchPadBody{
   padding-right: 0px;
   padding-top: 0px;
   padding-bottom: 0px;
   padding-left: 0px;
}

.launchPadCol{
   min-width: 350px;
}
.dashboardDetails{

}


.dashboardDetailsTile{
   display: inline-block;
   margin-right: 20px;
   margin-left: 20px;
   font-size: 20px;
   font-weight: 700;
}
.dashboardDetailsDescription{
   margin-left: 20px;
   margin-top: 20px;
   border-radius: .25rem;
}

.dashboardDetailsSysName{
   margin-left: 20px;
   margin-top: 5px;
   font-size: 18px;
   font-weight: 500;
}

.screenShotImageDashboard{
   width: 100%;
   height: 100%;
   max-height: 260px;
   max-width: 350px;
}

.dashboardMenu{
   margin-left: 10px;
   margin-bottom: 10px;
   display: inline-block;
}
.dashboardMenuItem{
    /*width:70px;*/
   font-size: 16px;
   font-weight: 700;
    display: inline-block;
    /*padding-left: 5px;*/
   padding-right: 5px;
   text-align: center;
   cursor: pointer;
 }
.dashboardMenuItemLast{
   border: 0px solid;
}

/*.screenshot-panel-body{*/
   /*max-height: 300px;*/
   /*text-align: center;*/
/*}*/

.center{
   text-align: center;
}




.locTree-panel-body {
   margin-top: 1px;
   margin-bottom: 3px;
   padding-left: 0px;
   width: calc(100% - 5px);
}

.modal-dialog-welcome{
   width:50vw;
    min-width: 300px;
    max-width: 650px;
}
.modal-dialog-var{
   width:50vw;
   min-width: 500px;
   max-width: 100vw;
}

.modal-dialog-varHelp{
   width:50vw;
   min-width: 500px;
   max-width: 100vw;
}

.varHelpBody{
    overflow-y: auto;
    height: 250px;
}

.buildHelpBody{
    overflow-y: auto;
    height: 70vh;
}

.modal-del-dialog {
   width: 30vw;
}

.dashBoardTopRow{
   margin-top: 10px;
   margin-bottom: 10px;
}

.launchPanelBody{
   padding: 0px;
}


.dashPanel {
   border: 0px solid transparent;
   border-radius: 10px;
}

.systemDetailPanel{
   padding-left: 8px;
   width: 100%;
   margin-bottom:10px;
}

.launchPadPanelIcon{
   background-repeat: no-repeat;
   height: 21px;
   width: 21px;
   display: inline-block;
   margin-right: 5px;
}

.search-group{
   float: right;
   width: calc(100% - 150px);
   max-width: 200px;
   margin-bottom: 0px;
   padding-left: 5px;
}

.searchInput{
   height: 20px;
   width: 100%;
   padding-left: 5px;
   margin-top: 2px;
}

.search-icon{
   float: right;
}

a.foundInSearch{
   font-weight: 700;
   font-style: normal;
}

a.foundNotInSearch{
   font-weight: 200;
   font-style: italic;
   font-size: .75rem;
}

a.foundInSearchParent{
   font-weight: 500;
   font-style: normal;
}

.icon {
   display: inline-block;
   width: .8em;
   height: 1em;
   stroke-width: 0;
   stroke: currentColor;
   fill: currentColor;
}

.icon-EZStack {
   width: 2em;
   height: 1.4em;
   stroke-width: 0;
   stroke: currentColor;
   fill: currentColor;
}

.nav > li > a {
   position: relative;
   /*display: block;*/
   padding: 10px 2px;
}

.navbar-nav > li{
   /*text-align: center;*/
}

.navbar-nav > li > a {
   #padding-top: 10px;
   #padding-bottom: 10px;
   line-height: 21px;
}

@media (min-width: 768px) {
   .navbar-nav > li > a {
      padding-top: 2px;
      padding-bottom: 2px;
   }
}


@media (min-width: 768px) {
   .navbar-header {
      float: left;
   }
}

.builder_nav_container{
   width:100%;
   margin-right: 20px;
   margin-left: 20px;
}


.builder_dash_btn{
   margin-left: 30px;
   margin-right: 3px;
   font-weight: 700;
}

.builder_dash_btn{
   width: 110px;
}

.dashSystemLabel{

}

.dashSystemDropdownButton {

   background: none;
   padding: 0;
   /*padding-bottom: 15px;*/
   border: none;
   font-size: 16px;
}

.buildCodePickButton {
   float: right;

}

.dashDropButtonHR{
   margin-top: 2px;
   margin-bottom: 20px;
   border-color: inherit;
}

.dashListCol{
   width:100%;
}

.dashSystemsDropdownMenu{
   padding-top: 0px;
   padding-bottom: 0px;
   max-height: 500px;
   overflow: auto;
   max-width: 400px;
}

/*.buildCodeDropdownMenu{*/
   /*padding:0px ;*/
   /*max-height: 500px;*/
   /*overflow: auto;*/
   /*max-width: 400px;*/
/*}*/

.dropdown-settings{

}

.dashSystemDropdownItem, .newCompVarTypeDropdownItem {
    width: 200%;
}

.dashSystemIcon{
   padding-right:3px;
}

tr {
   width: 100%;
   display: inline-table;
   table-layout: fixed;
}


.dashTable{
   color: inherit;
   border: none;
}

.dashTable > thead > tr > th{
   border-top: 0px solid;
   border-bottom: 0px solid;
   padding-bottom: 0px;
}


.dashTbody{
   /*overflow-y: auto;*/
   width: 98%;
}

.dashTbody > tr.dashListRowClicked > td.dashTableNameItem{
   border-left: 3px solid;
}


.dashTbody > tr > td{
   border-top: 0px solid;
   border-bottom: 0px solid;
   margin-top: 0;
   margin-bottom: 0;
   padding: 0;
}


.userIcon{
   font-size: 20px;
}

.dropdown-menu > a{
   white-space: nowrap;
}

.topMenuDropdown{
   min-width: 11rem;
}

.navbar-fixed-top{
   padding-bottom: 0px;
   padding-top: 0px;
   height: 40px;
}

.jobCard{
   margin-bottom: 30px;

}

.jobCard > .card-header {
   cursor: pointer;
   padding: 3px;
}

th.col-1, td.col-1{
   min-width: max-content;

}

.dashTbody > tr{
   transition: height .5s;
   overflow: hidden;
}
#stylePickMenu{
   display: inline;
}

.stylePickTop{
   padding-right: 10px;
   display: inline;
}

.stylePickTop > label{
   margin-bottom: 0rem;
}

.codeCard{
   height:300px;
   border: 0px solid;
}

.jobCodeEditor {
   /*height:300px;*/
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
}

.templateTypeDropdownButton{

   background: none;
   padding: 0;
   padding-bottom: 0px;
   border: none;
   font-size: 16px;
}

.templateCard{
   /*transition: height .5s;*/
   height: 40px;
}

.templateWindowSizeButtons{
   float: right;
}

#dashSystemDescription{
   border: 0px solid;
   border-radius: .25rem;
}
#description{
   border: 0px solid;
   border-radius: .25rem;
}

 .ql-toolbar{
   margin-left: 150px;
   margin-top: -44px;
    border: none !important;
}


.dashTableDescriptionItem{
   padding-top: 5px;
   padding-bottom: 5px;
}

.dashTableDescriptionItem > .ql-container{
   border: 0px solid;
}

.dashTableDescriptionItem .ql-editor {
   padding: 0px;
}

.dashListRowNotClicked .ql-editor {

   transition: max-height .5s;
   max-height: 37px;
   overflow:hidden
}

.dashListRowClicked .ql-editor {

   transition: max-height .5s;
   max-height: 200px;
   overflow:auto
}
#jobForm .ql-editor {

   transition: max-height .5s;
   max-height: 300px;
   overflow:auto
}


.jstree-default .jstree-wholerow-clicked {
   /*background: #dcdcdc;*/
   background: rgba(220, 220, 220, 0.6);
   color: #2c3433;
   /*background: -webkit-linear-gradient(top, #0078d7 0%, #0078d7 100%);*/
   /*background: linear-gradient(to bottom, #0078d7 0%, #0078d7 100%);*/
}

::-webkit-scrollbar {
width: 14px;
}

::-webkit-scrollbar-track {
-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
border-radius: 10px;
}

::-webkit-scrollbar-thumb {
border-radius: 10px;
-webkit-box-shadow: inset 0 0 6px #646464;
}


::-webkit-scrollbar-corner {
background: transparent !important;
}

.dashTable{
   color: inherit;
   border: none;
}

tbody.varTbody{
   /*height: calc(100vh - 500px);*/
   min-height: 90px;
   /*position: absolute;*/
   padding-right: 5px;
}

/*.varLabel{*/
   /*font-size: 1rem;*/
   /*font-weight: 400;*/
   /*line-height: 24px;*/
/*}*/

.varRow{
   white-space: nowrap;
}

.varTable > thead > tr > th {
   padding: 5px;
}

.varRow > td{
   font-weight: 500;
   font-size: 14px;
   border: none;
   padding: 5px;
}

.newCompVarPrivateButtonRow, .newSysVarPrivateButtonRow{

   text-align: center;
}

.privacy-switch{
   margin-left: -10px;
}

.newCompVarTypeButton{

   background: none;
   padding: 0;
   border: none;
   font-weight: 500;
   font-size: 14px;

}

.newCompVarName, .newCompVarValue, .newSysVarName, .newSysVarValue {
   width:90%;
   height: 20px;
}

.newCompVarPrivateDisp, .newSysVarPrivateDisp{
   padding-left:10px;
}

.compVarEditValRow, sysVarEditValRow{
   display:flex;
    margin-left: -30px;
}

.modal-dialog-welcome {
   width: 70vw;
   min-width: 100px;
}

.serverUnavailable-dialog {
   width: 400px;
}

.varValTd, .varNameTd{
   max-height: 25px;
   overflow: hidden;
}

#pasteIcon{
   width: 190px;
}

#inspectHtml{
   overflow:auto;
   max-height:200px;
   /*max-width:300px;*/
   text-align: left;
}
#inspectAttributes{
   overflow:auto;
   max-height:200px;
   /*max-width:300px;*/
   text-align: left;

}
.inspectAttrib{
   width:100%;
   white-space: nowrap;
}

.inspectLink{
   /*padding-right:40px;*/
   /*padding-left:15px;*/
}


.inspectMaximize{
   /*padding-right:40px;*/
}

#idInspectLabel{
   /*padding-bottom:40px;*/
}

.idInspectLabel{
   font-weight: 600;
}

.firstCol{
   padding-left: 0px;
}

.lastCol{
   padding-left: 0px;
   padding-right: 0px;
}

#searchCycleDiv{
   float: right;
   /*margin-left: -40px;*/
}

.searchCycleBtn{
}

#componentLinks{
   font-size: small;
   font-weight: 700;
   display: inline-block;
   font-size: 15px;
}

.matchLink{
   font-size: small;
   font-weight: 700;
}

.varValEditorTextArea{
   width: 100%;
   height: 300px;
}

tbody.buildCodeTbody{
   display: block;
   max-height: 50vh;
   overflow-y: auto;
    margin-top: 5px;
}

.buildCodePickItem{

}

.buildCodeListDSCol{
   font-size: x-small;
   text-align: center;
}
.buildCodeListNameCol{
   font-size: small;
}
.buildCodeListRRCol{
   font-size: x-small;
   text-align: center;
}
.buildCodeListSFCol{
   font-size: x-small;
   text-align: center;
}

.buildCodeFilterGroup div.radio {
   margin-left: 10px;
   display: inline-block;
}

.buildCodeTable>tfoot>tr>th, .buildCodeTable>thead>tr>th, .buildCodeTable>tbody>tr>th{
   border: 0px ;
    padding: 3px;
}

  .buildCodeTable>thead>tr>td, .buildCodeTable>tbody>tr>td, .buildCodeTable>tfoot>tr>td{
   padding: 3px;
   border-top: 0px;
   border-bottom: 1px solid #dee2e6;
}

.buildCodeListNameCol>.form-group{
   margin-bottom: 0px;
}

.buildCodeHeader{
   display: flex;
   justify-content: space-between;
}

.cardLable{

}
.newBuildCodeName{
   display: flex;
   align-self: center;
}
.newBuildCodeName > input{
   font-size: 14px;
   height: 20px;
}

.buildCodeNameRead{
   cursor: text;
}

.templateTypeDropdownButton{
   font-size: .8rem;
   font-weight: 400;
   line-height: 24px;
}

.dropdown-toggle:disabled::after  {
   content: none;
   border: 0px;
}

.buildCodeButton{
   margin-left: 5px;
}

#buildModalTitleName{
   font-size: .8rem;
   font-weight: 800;
   padding-top: 7px
}

.buildCodeForkModal-dialog{
   width: 500px;
}

.dash-panel-column{
   max-height: 290px;
   overflow: auto;
}

.dashVideoCol{
   padding-left: 0px;
}
#videoScreen, #vidMenuMatchNum{
   white-space:nowrap;
   display:inline-block;
}

button#vidMenuMatch, #vidMenuDesc {
   padding-left: 15px;
}

.matchLinkCol{
   /*max-height: 250px;*/
   /*max-width: 300px;*/
   /*text-align: left;*/
   /*overflow: auto;*/
   /*display: inline-block;*/
   /*vertical-align: top;*/
   /*padding-left: 0px;*/
   /*background-color: black;*/
}


.videoMenuItemLeft{
   text-align: left;
   padding-left: 15px;
   display: inline-block;
}
.videoMenuItemRight{
   text-align: right;
   padding-left: 10px; 
   width: 25px;
   display: inline-block;
}

.matchTreeA{
   /*color: white;*/
}

.matchTreeA-found{
}

.matchTreeLi{
   font-size: .6rem;
   font-weight: 400;
}

.matchTreeLi-found{
   font-size: .8rem;
   font-weight: 800;
}

.dashSystemDetails > p{
   margin-bottom: 0rem;
}

.videoMenu{
   white-space:nowrap;
   display: inline-block;
   padding-right: 15px;
   float: right;
}

.dashVideoCol #videoCanvas{
   max-width: 440px;
}

.dashTableOpenButton{
   width:30px;
   margin-right: 10px;
}

td.col-1.dashTableBuildItem {
   text-align: center;
}

.dashTableBuildButton {
   width:30px;
}

.compVarEditValButton, .compVarEditButton, .compVarDelButton , .buildCodePickButton, .compFocusButton{
   cursor: pointer;
}



.floatPop, .hoverPop, .clickPop {
}

.floatPop {
   border-radius: 20px;
   transition: all 0.5s;
   min-width: 250px;

}

.clickPop .popover-body{
   max-height: 70vh;
   overflow: auto;
}

.hoverPop .popover-body{
   font-size: 0.8rem;
   font-weight: 400;
   line-height: 1.0;
   text-transform: uppercase;
}

#floatingPopoverField .floatPop .popover-body {
   font-size: 1.0rem;
   font-weight: 400;
   line-height: 1.2;
   text-align: center;
}


div#floatingPopoverField{
   /*width: 100vh;*/
   /*height: 100vw;*/
}

div#floatingPopover {
   width: 50px;
   height: 50px;
   top: 0px;
   left: 0px;
   position: absolute;
}

.floatPopMenuRow{
   display: flex;
   flex-direction: row;
   flex-wrap: nowrap;
   align-items: center;
   justify-content: space-evenly;
}

button.floatPopMenuItem{
   font-size: 11px;
   font-weight: 700;
   width: 50px;
   padding: 0px;
   margin: 2px;
   cursor: pointer;
}
button:focus floatPopMenuItem{
   font-size: 10px;
   font-weight: 700;
}

.welcome-modal-content{ 
    font-size: 1.0rem;
    font-weight: 400;
    line-height: 1.2;
    text-align: center;
}

.popover[x-placement^="bottom"]{
   border-top-width: 10px;
}
.popover[x-placement^="top"]{
   border-bottom-width: 10px;
}
.popover[x-placement^="right"]{
   border-left-width: 10px;
}
.popover[x-placement^="left"]{
   border-right-width: 10px;
}

.popover .arrow  {
   transition: all 0.5s;
}

.btn:focus{
   border:2;
   text-decoration: underline;
}

.fade:not(.show) {
   transition: backdrop-filter .2s;
   backdrop-filter: blur(0px);
}

main.mainCol{
   padding-left: 220px;
   padding-right: 0;
   width: 100%;
}

.sidebar {
   /*position: fixed;*/
   /*top: 0;*/
   /*bottom: 0;*/
   left: 0;
   /*z-index: 100; !* Behind the navbar *!*/
   /*padding: 48px 0 0; !* Height of navbar *!*/
   box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
   min-width: 170px;
   max-width: 220px;
   padding-right: 0px;
   padding-left: 0px;

   /*transition: left 0.3s;*/
}



.sidebar-sticky {
   /*position: relative;*/
   top: 0;
   height: calc(100vh - 48px);
   padding-top: .5rem;
   overflow-x: hidden;
   overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
   padding-right: 15px;
   padding-left: 15px;
}

a#sidebarBtn {
   padding-left: 20px;
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
   .sidebar-sticky {
      /*position: -webkit-sticky;*/
      /*position: sticky;*/
   }
}

.sidebar ul li a.active {
   /*transition: background 0.2s;*/
   /*background-color: #46484a;*/
   font-weight: 600;
}

.navbar-collapse {
   position: absolute;
   /*top: 54px;*/
   left: -100%;
   width: 100%;
   transition: all 0.4s ease;
   display: block;
   opacity: 0.8;
}
.navbar-collapse.collapsing {
   height: auto !important;
   left: -100%;
   margin-left: 1px;
   transition: all 0.2s ease;
   opacity: 0.9;
}
.navbar-collapse.show {
   margin-left: 100%;
   transition: all 0.2s ease;
   opacity: 1;
}

.wrapper {
   display: flex;
   align-items: stretch;
}

/*@media (max-width: 600px) {*/
   /*.sidebar {*/
      /*display: none;*/
   /*}*/
   /*.sidebarBtn {*/
      /*display: block;*/
   /*}*/
/*}*/


