/*-------------------DARK---------------------------*/
body {
    transition: transform 0.3s;
    transform: scaleX(1.0);


}

.navbar-default .navbar-nav>li>a {
    color: #3c3f41;
}

#rightCol, #buildCodeRow {
    transition: background-color 1s;
    background-color: #3c3f41;
    border-color: #3c3f41;
}

.navbar-default {
    transition: background-color 0.5s;
    background-color: #3c3f41;;
    /*border-color: #555555;*/
}

body {
    transition: color 1s;
    color: #f2f1f1;
    transition: background-color 0.5s;
    background-color: #3c3f41;
    scrollbar-color: #3b3b3b #2f2f2f;
}

.panel {
    transition: background-color 0.5s;
    background-color: #313335;
}

.panel-default {
    border-color: #313335;
}

.panel-default>.panel-heading {
    color: #adadad;
    transition: background-color 0.5s;
    background-color: #3c3f41;;
    border-color: #555555;
}

.var_Table {
    transition: color 0.5s;
    color: #adadad;
}

.var_Table>tbody>tr:hover{
    transition: color 0.2s;
    color: #fcfcfd;
}

a, a:hover {
    color: #79bdf3;
}

#sysDescription, #description{
    color: #f8f8f8;
    transition: background-color 0.5s;
    background-color: #000000;
    border-color: #555555;
}

/*#sysDescription:focus, #description:focus{*/
    /*transition: background-color 0.5s;*/
    /*background-color: #323232;*/
/*}*/

.ql-picker-label, .ql-stroke{
    color: #79bdf3;
    stroke:  #79bdf3 !important;
}

#sysDescription.ql-disabled, #description.ql-disabled{
    color: #adadad;
    transition: background-color 0.5s;
    background-color: #3c3f41;
}

.table-striped > tbody > tr:nth-child(2n+1) {
    transition: background-color 0.5s;
    background-color: #3a3a3a;
}

.dashTableRow:nth-child(2n+1) {
    /*background: #3b3b3b*/
}

.treePanelHandle {
    transition: background-color 0.5s;
    background-color: #313335;
}

.jstree-anchor {
    color: #fcfcfd;
}

#rowHandle {
    transition: background-color 0.5s;
    background-color: #313335;
}
a.list-group-item {
    color: #adadad;
}
#terminal-container {
    transition: background-color 0.5s;
    background-color: #2b2b2b;
    color: #bbbbbb;
}
#results_html {
    transition: background-color 0.5s;
    background-color: #000000;
}
.result_fresh {
    color: #f9f9f9;
}
.result_history {
    color: #adadad;
}
#results_codes {
    transition: background-color 0.5s;
    background-color: #555555;
    color: #bbbbbb;
}

div.grippie {
    border-color:#DDDDDD;
    border-style:solid;
    border-width:0pt 1px 1px;
    cursor:s-resize;
    height:9px;
    overflow:hidden;
}

.bottom-row{
    margin-top: 6px;
}

.list-group-item {
    transition: background-color 0.5s;
    background-color: #333;
    border: 0px solid #ddd;
    border-bottom: 1px solid #666;
    border-top: 1px solid #666;
}


.jobFormbtn{
    transition: background-color 0.5s;
    background-color: #79bdf3;
    color: #292525;
}

.form-control {
    color: #f8f8f8;
    transition: background-color 0.5s;
    background-color: #000000;
    border-color: #555555;
}

.form-control:focus,
.form-control:focus{
    color: #f8f8f8;
    transition: background-color 0.5s;
    background-color: #000000 !important;
}

.form-control[disabled], .form-control[readonly], .form-control[disabled], .form-control[readonly] {
    cursor: not-allowed;
    transition: background-color 0.5s;
    background-color: #3c3f41;
    color: #adadad;
    opacity: 1;
}

.form-control[disabled]:focus, .form-control[readonly]:focus {
    transition: background-color 0.5s;
    background-color: #3c3f41 !important;
    color: #adadad;
}





.form-control::-webkit-input-placeholder { color: #555555; }  /* WebKit, Blink, Edge */
.form-control:-moz-placeholder { color: #555555; }  /* Mozilla Firefox 4 to 18 */
.form-control::-moz-placeholder { color: #555555; }  /* Mozilla Firefox 19+ */
.form-control:-ms-input-placeholder { color: #555555; }  /* Internet Explorer 10-11 */
.form-control::-ms-input-placeholder { color: #555555; }  /* Microsoft Edge */

.runningJobCompleteSuccess, .dashItemSuccess{
    transition: color 0.5s;
    color: #4dff4b !important;
}
.runningJobCompleteFail, .dashItemFail{
    transition: color 0.5s;
    color: #ff1917 !important;
}
.runningJob{
    transition: color 0.5s;
    color: #ffffff !important;
}
.newJobRow{
    transition: color 0.5s;
    color: #dcdcdc !important;
}



.jstree-disabled{
    background-color: transparent !important;
}

.customLibDropBox{
    transition: background-color 0.5s;
    background-color: #555555;
}

.vakata-context ul {
border: 1px solid #adadad;
    box-shadow: 2px 2px 2px #dcdcdc;
}

.vakata-context li > a {
    color: #f9f9f9;
}
.vakata-context li > a:hover {
    transition: background-color 0.5s;
    background-color: #e8eff7;
    box-shadow: 0 0 2px #0a6aa1;
}
.vakata-context li > a.vakata-context-parent {
    background-image: url("data:image/gif;base64,R0lGODlhCwAHAIAAACgoKP///yH5BAEAAAEALAAAAAALAAcAAAIORI4JlrqN1oMSnmmZDQUAOw==");
}

.vakata-context .vakata-context-hover > a {
    transition: background-color 0.5s;
    background-color: #e8eff7;
    box-shadow: 0 0 2px #0a6aa1;
}
.vakata-context .vakata-context-separator > a,
.vakata-context .vakata-context-separator > a:hover {
    background: white;
    border-top: 1px solid #e2e3e3;
    border-left: 1px solid #e0e0e0;
}
.vakata-context .vakata-contextmenu-disabled a,
.vakata-context .vakata-contextmenu-disabled a:hover {
    color: silver;
}
.vakata-context li > a .vakata-contextmenu-sep {
   background: white;
    border-left: 1px solid #e2e3e3;
}
.vakata-context .vakata-contextmenu-shortcut {
    color: silver;
}

.vakata-context-rtl li > a.vakata-context-parent {
    background-image: url("data:image/gif;base64,R0lGODlhCwAHAIAAACgoKP///yH5BAEAAAEALAAAAAALAAcAAAINjI+AC7rWHIsPtmoxLAA7");
}
.vakata-context-rtl .vakata-context-separator > a {
    border-right: 1px solid #e2e3e3;
}
.vakata-context-rtl li > a .vakata-contextmenu-sep {
    border-left-color: white;
    background: #e2e3e3;
}

#jstree-dnd .jstree-ok {
    background: #4dff4b;
}
#jstree-dnd .jstree-er {
    background: #ff1917;
}

.jstree-default .jstree-disabled > .jstree-icon {
    opacity: 0.8;
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'jstree-grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#jstree-grayscale");
    /* Firefox 10+ */
    filter: #f9f9f9;
    /* IE6-9 */
    -webkit-filter: grayscale(100%);
    /* Chrome 19+ & Safari 6+ */
}
.jstree-default .jstree-search {
    color: #8b0000;
}

.jstree-default > .jstree-striped {
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAkCAMAAAB/qqA+AAAABlBMVEUAAAAAAAClZ7nPAAAAAnRSTlMNAMM9s3UAAAAXSURBVHjajcEBAQAAAIKg/H/aCQZ70AUBjAATb6YPDgAAAABJRU5ErkJggg==") left top repeat;
}

.jstree-default .jstree-wholerow-clicked {
    color: #ffffff;
    transition: background 0.5s;
    background: rgba(60, 63, 65, 0.8);
    transition: border 0.5s;
    border: 2px solid #bbbbbb;

}
.jstree-default .jstree-wholerow-hovered {
    color: #adadad;
    /*background-color: #3c3f41;*/
    background: rgba(60, 63, 65, 0.8);
}

.jstree-codeBlock{
    transition: border 0.5s;
    border-left: 4px solid #79bdf3;
}

.jstree-default .jstree-node,
.jstree-default .jstree-icon {
    background-image: url("/jstree/dist/themes/default-dark/32px.png");
}

.jstree-default .jstree-themeicon-custom {
    background-color: transparent;
    background-image: none;
    background-position: 0 0;
}

    .jstree-default-responsive .jstree-wholerow {
        border-top: 1px solid rgba(255, 255, 255, 0.7);
        border-bottom: 1px solid rgba(64, 64, 64, 0.2);
        background: #9b9b9b;
    }

    .jstree-default-responsive .jstree-children .jstree-last > .jstree-wholerow {
        box-shadow: inset 0 -6px 3px -5px #ececec;
    }
    .jstree-default-responsive .jstree-children .jstree-open > .jstree-wholerow {
        box-shadow: inset 0 6px 3px -5px #ececec;
        border-top: 0;
    }

.libTree-panel-body{
    transition: background-color 0.5s;
    background-color: #323032;
}
.locTree-panel-body{
    transition: background-color 0.5s;
    background-color: #323232;
}

.disabledRow{
    color: #ff1917;
}
.rerunnableRow{
    color: white;
}

.needfull{
    color: white;
}

.jobRow{
    color: #4dff4b;
}

.sys-form-panel{
    /*background-color: #3c3f41;*/
    color: #ffffff;
}

a.fileListLink {
    color: #79bdf3;
}

a.libListRow {
    color: #ffffff;
}

.panel-primary>.panel-heading {
    color: #fff;
    transition: background-color 0.5s;
    background-color: #3c3f41;
    border-color: #595b5d;
}

.panel-primary {
    border-color: #595b5d;
}

.build-label{
    color: #fff;
}

/* Tab Navigation */
.nav-tabs > li > a {
    transition: background-color 0.5s;
    background-color: #3c3f41;
    box-shadow: inset 0 -8px 7px -9px rgba(0,0,0,.4),-2px -2px 5px -2px rgba(0,0,0,.4);
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover {

    color: #fff;
    box-shadow: inset 0 0 0 0 rgba(0,0,0,.4),-2px -3px 5px -2px rgba(0,0,0,.4);
}

.tab-pane {
    background: #313335;
    /*box-shadow: 0 0 4px rgba(0,0,0,.4);*/
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus{
    transition: background-color 0.5s;
    background-color:#313335;
    color: #fff;
}

input:checked + .slider {
    transition: background-color 0.5s;
    background-color: #79bdf3;
}

input:not(:checked) + .slider.round:before{
    background-color: #79bdf3;
}

.slider {
    transition: background-color 0.5s;
    background-color: #000000;
}

input:focus + .slider {
    box-shadow: 0 0 1px #79bdf3;
}
.systemRow{

}

.dashboardDetails{
    color: #fcfcfd;
}

.dashboardPanelBody{
    background: transparent;
}

.dashboardPanel{
    //background: url("/images/dark-pattern-op.png") ;
}
.dashPanel{
    transition: background-color 0.5s;
    background-color: rgb(70, 72, 74);
}
.dashPanelBody{
    /*opacity: 1;*/
    /*transition: background-color 0.5s;*/
    /*background-color: rgb(70, 72, 74);*/
}

.launchLink > a, .launchLink > a:hover{
    color: #79bdf3;
}

.screenshot-panel-body{
    /*transition: background-color 0.5s;*/
    /*background-color: rgba(70, 72, 74, 0);*/
}


/*.navbar-default .navbar-nav > li > a {*/
    /*color: #79bdf3;*/
/*}*/

#videoCanvas{
    transition: box-shadow 2.5s;
    box-shadow: 0px 0px 0px 0px rgba(51, 51, 51, 0.88);
}


.navbar-default .navbar-nav > li >a,
.navbar-default .navbar-nav > li >a:hover,
.navbar-default .navbar-nav > li >a:focus {
    /*color: #cfcdcd;*/
    /*background-color: #3c3f41;*/
}


.navbar-default .navbar-nav > li > a {
    /*color: #cfcdcd;*/
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus
{
    /*color: #cfcdcd;*/
    /*transition: background-color 0.5s;*/
    /*background-color: #1a1b1c;*/
    /*border-bottom: 4px solid #0f6ab4;*/
}

.builder_dash_btn{
    transition: background-color 0.5s;
    background-color: #3c3f41;
    border-bottom: 2px solid #79bdf3;
}
.navbar-nav>builder_dash_btn>a:hover, .navbar-nav>.active{
    /*color: #cfcdcd;*/
    border-bottom: 4px solid #79bdf3;
    transition: background-color 0.5s;
    background-color: #313335;

}

.dashSystemDropdownButton, .buildCodeDropdownButton{
    color:#79bdf3;
}

.os-panel{
    transition: background-color 0.5s;
    /*background-color: rgba(255, 255, 255, 0.2);*/
}

.jobCard > .card-header {
    transition: background-color 0.5s;
    background-color: rgb(60, 63, 65);
    border-bottom: 1px solid rgba(0,0,0,.125);
    color: #79bdf3;
}

.card-body{
    transition: background-color 0.5s;
    background-color: #3c3f41;
    color: #fcfcef;
}

.dashTable > thead > tr > th {
     border-color: inherit;
}

.dashSystemDropdownItem, .dashSystemFunctionItem, .buildCodeDropdownItem, .newCompVarTypeDropdownItem, .buildCodePickItem {
    transition: background-color 0.5s;
    background-color: rgb(60, 63, 65);
    border-bottom: 1px solid rgba(0,0,0,.125);
    color: #fcfcef;
}

.topMenuDropdown {
    transition: background-color 0.5s;
    background-color: #555555;
}

.dashTbody > tr > td{
    transition: background-color 0.5s;
    background-color: rgba(255, 255, 255, 0.1);
}

.dashTbody > tr:hover > td {
    transition: background-color .3s;
    background-color: rgba(255, 255, 255, 0.2);
}


.dashTbody > tr.dashListRowClicked > td{
    transition: background-color 0.5s;
    background-color: rgba(255, 255, 255, 0.3);
}


.dashTbody > tr.dashListRowClicked > td.dashTableNameItem{
    border-color: #79bdf3;
    color: white;
}

.dashTbody > tr.dashListRowClicked > td.dashTableDescriptionItem{
    transition: color 0.5s;
    color: white;
}


.dashTableBuildButton{
    transition: color 0.5s;
    color: #79bdf3;
}
.dashTableOpenButton{
    transition: color 0.5s;
    color: #79bdf3;
}

.stylePickTop, .buildCodeFilter{
    transition: color 0.5s;
    color: #79bdf3
}

.resultsStatusSuccess{

}

.DashListRowPass{
    transition: color 0.5s;
    color: #4dff4b;
}
.DashListRowFail{
    transition: color 0.5s;
    color: #ff1917;
}

.ace_marker-layer .ace_active-line {
    background: rgba(255, 255, 255, 0.9);
}

.templateTypeDropdownButton{
    transition: color 0.5s;
    color:#79bdf3;
}

.templateTypeDropdownItem {
    transition: background-color 0.5s;
    background-color: rgb(60, 63, 65);
    border-bottom: 1px solid rgba(0,0,0,.125);
    color: #fcfcef;
}

.ace_editor{
    transition: color 0.5s;
    color: #F8F8F8;
}
.ace_text-input:focus{
    transition: color 0.5s;
    color: #2a2a2a;
}

.aceDisabled {
    transition: color 0.5s;
    transition: background-color 0.5s;
    transition: color 0.5s;
    background-color: #323232;
}

.varTable > thead > tr > th {
    transition: color 0.5s;
    color: #F8F8F8;
}


.varRow > td {
    transition: color 0.5s;
    color: #adadad;
}

.newCompVarTypeButton{
    transition: color 0.5s;
    color: #79bdf3;
}

.compVarDelButton{
    transition: color 0.5s;
    color:#ff1917;
}

.ql-active{
    filter: brightness(150%);
}

.compVarEditValButton, .compVarEditButton, .ql-snow a , .buildCodePickButton, .compFocusButton, .compDashVarEditButton{
    transition: color 0.5s;
    color: #79bdf3;
}

.idInspectLabel, .buildCodeNameRead, .matchTreeLi{
    transition: color 0.5s;
    color: #F8F8F8;
}

.searchCycleBtn, .search-icon, #buildCodeSearchIcon{
    transition: color 2.5s;
    color: #79bdf3;
}

.buildCodeListDSCol, .buildCodeListNameCol, .buildCodeListRRCol, .buildCodeListSFCol{
    transition: color 0.5s;
    color: #fcfcef;
}


.buildCodeTable > thead > tr > th {
    transition: color 0.5s;
    color: #F8F8F8;
}

.dropdown-menu, .dropdown-toggle:disabled  {
    transition: color 0.5s;
    color: #fff;
    background-color: rgba(43, 43, 43, 0);
}

.vidMenuMatchOverlay, .dashSystemDropdownItem, .dashSystemFunctionItem, .templateTypeDropdownItem, .topMenuDropdown{
    background-color: rgba(43, 43, 43, 0.9);
}

.welcome-hr{
    border-color: #79bdf3;
}
.welcome-nav{
    color: #cfcdcd;
    transition: background-color 0.5s;
    /*background-color: #1a1b1c;*/
    border-bottom: 4px solid #79bdf3;
}

#inspectLink.active{
    transition: color 0.2s;
    color: #fff;
}

#videoRefreshLink.active{
    transition: color 0.2s;
    color: #fff;
}

.floatPop, .hoverPop, .clickPop {
    transition: background 0.2s;
    background: black;
    border: 2px solid #79bdf3;
}

.clickPop .popover-body, .hoverPop .popover-body, .floatPop .popover-body {
    transition: color 0.5s;
    color: white;
}

.bs-popover-top .arrow::after,
.bs-popover-auto[x-placement^="top"] .arrow::after {
    border-top-color: #2f2f2f;
}

.bs-popover-left .arrow::after,
.bs-popover-auto[x-placement^="left"] .arrow::after {
    border-left-color: #2f2f2f;
}

.bs-popover-right .arrow::after,
.bs-popover-auto[x-placement^="right"] .arrow::after {
    border-right-color: #2f2f2f;
}

.bs-popover-bottom .arrow::after,
.bs-popover-auto[x-placement^="bottom"] .arrow::after {
    border-bottom-color: #2f2f2f;
}

.floatPopTaskLabel{
    color: #4dff4b
}

btn:focus {
    outline: 3px solid #79bdf3;
}

.modal{
    background-color: rgba(0,0,0,.2);
}
.modal-content {
    color: white;
    transition: background 0.2s;
    background-color: rgba(0,0,0,.5);
    border: 2px solid #79bdf3;
}

.sidebar{
    transition: box-shadow 2.5s;
    box-shadow: 0px 0px 0px 0px rgba(51, 51, 51, 0.88);
}

.sidebar ul li a.nav-link {
    color: white;
    /*transition: background-color 0.2s;*/
    /*background-color: black;*/
}
.sidebar ul li a.active {
    /*transition: background 0.2s;*/
    /*background-color: #46484a;*/
    background-color: rgba(255, 255, 255, 0.1);
}

/*.navbar-brand{*/
    /*transition: color 2.5s;*/
    /*color: #79bdf3;*/
/*}*/

.nav-text-muted{
    transition: color 2.5s;
    color: #bbbbbb;
}

a#dashBtn i {
    color: #00C3E3;
}
a#componentsBtn i {
    color: #00DDB7;
}
a#buildCodeBtn i {
    color: #8BF088;
}

.nav-link .fa-book {
    color: #bbbbbb;
}


#sidebar > #navLeftIcon {
    background-color: black;
    margin: 5px;
}
#sidebar > #navLeftIcon > a {
    color: white;
}
#navTopIcon > #navLeftIcon {
    background-color: inherit;
    /*margin: 5px;*/
}
#navTopIcon > #navLeftIcon > a {
    color: #79bdf3;
}

.buildCodeMatchRow, #breadcrumbsRow{
    color: #79bdf3;
}

#launchLinkCopy, .buildCodeListCopy, #deleteBuildCodes, .lastBuildUrl {
    color: #79bdf3;
}

.dashTableRow {
    /* background-color: #3c3f41; */
}

.dashContentRow {
    /* transition: background-color 2.5s;
    background-color: #46484a; */
    
    background-color: #3c3f41;
}

div#dashRow {
    transition: background-color 2.5s;
    background-color: black;
}

.selectedDashRow{
    border: solid #ffffffb3 3px;
    box-shadow: 0px 0px 9px 3px rgb(255 255 255 / 81%);
 }

.dashItemThumbCol img {
    border-color: #959595;
}

.top-row{
    transition: background-color 2.5s;
    background-color: #000000d4;
    box-shadow: 1px 4px 8px rgb(0 0 0);

}

::-webkit-scrollbar-track
{
  background-color: #000000;
}

::-webkit-scrollbar
{
  background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
  background-color: #000000;
  border: 2px solid #555555;
}

::-webkit-scrollbar-corner { 
    background: #323232;
 }
