/*-------------------DARK---------------------------*/

.navbar-default .navbar-nav>li>a {
    color: #3c3f41;
}

.navbar-default {
    background-color: #3c3f41;;
    border-color: #555555;
}

body {
    color: #bbbbbb;
    background-color: #3c3f41;
}

.panel-default {
    border-color: #313335;
}
.panel {
    background-color: #313335;
}
.panel-default>.panel-heading {
    color: #adadad;
    background-color: #313335;
    border-color: #555555;
}

a {
    color: #8ecdec;
}
.form-control[readonly], fieldset[disabled] .form-control {
    background-color: #3c3e3f;
}
.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    background-color: #383630;
}
.table-striped > tbody > tr:nth-child(2n+1) {
    background-color: #555555;
}
.treePanelHandle {
    background-color: #313335;
}
#rowHandle {
    background-color: #313335;
}
a.list-group-item {
    color: #adadad;
}
#terminal-container {
    background-color: #2b2b2b;
    color: #bbbbbb;
}
#results_html {
    background-color: #000000;
}
.result_fresh {
    color: #f9f9f9;
}
.result_history {
    color: #adadad;
}
#results_codes {
    background-color: #555555;
    color: #bbbbbb;
}

::-webkit-scrollbar {
    width: 14px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px #999;
}


::-webkit-scrollbar-corner {
    background: transparent !important;
}

div.grippie {
    border-color:#DDDDDD;
    border-style:solid;
    border-width:0pt 1px 1px;
    cursor:s-resize;
    height:9px;
    overflow:hidden;
}

.bottom-row{
    margin-top: 6px;
}

.list-group-item {
    background-color: #333;
    border: 0px solid #ddd;
    border-bottom: 1px solid #666;
    border-top: 1px solid #666;
}

.form-control {
    color: #383630;
    background-color: #bbbbbb;
    border-color: #555555;
}

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    cursor: not-allowed;
    background-color: #3c3f41;
    color: #adadad;
    opacity: 1;
}

.jobFormbtn{
    background-color: #3c3f41;
    color: #bbbbbb;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
    color: #bbbbbb;
    background-color: #3c3e3f;
}

.modal-content {
    color: #bbbbbb;
    background-color: #3c3e3f;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #bbbbbb;
}

.navbar-default .navbar-nav > li > a {
    color: #555555;
}

.form-control::-webkit-input-placeholder { color: #555555; }  /* WebKit, Blink, Edge */
.form-control:-moz-placeholder { color: #555555; }  /* Mozilla Firefox 4 to 18 */
.form-control::-moz-placeholder { color: #555555; }  /* Mozilla Firefox 19+ */
.form-control:-ms-input-placeholder { color: #555555; }  /* Internet Explorer 10-11 */
.form-control::-ms-input-placeholder { color: #555555; }  /* Microsoft Edge */

.runningJobCompleteSuccess{
    color: #4dff4b !important;
}
.runningJobCompleteFail{
    color: #ff1917 !important;
}
.runningJob{
    color: #ffffff !important;
}

.customLibDropBox{
    background-color: #555555;
}

.vakata-context ul {
border: 1px solid #adadad;
    box-shadow: 2px 2px 2px #dcdcdc;
}

.vakata-context li > a {
    color: #f9f9f9;
}
.vakata-context li > a:hover {
    background-color: #e8eff7;
    box-shadow: 0 0 2px #0a6aa1;
}
.vakata-context li > a.vakata-context-parent {
    background-image: url("data:image/gif;base64,R0lGODlhCwAHAIAAACgoKP///yH5BAEAAAEALAAAAAALAAcAAAIORI4JlrqN1oMSnmmZDQUAOw==");
}

.vakata-context .vakata-context-hover > a {
    background-color: #e8eff7;
    box-shadow: 0 0 2px #0a6aa1;
}
.vakata-context .vakata-context-separator > a,
.vakata-context .vakata-context-separator > a:hover {
    background: white;
    border-top: 1px solid #e2e3e3;
    border-left: 1px solid #e0e0e0;
}
.vakata-context .vakata-contextmenu-disabled a,
.vakata-context .vakata-contextmenu-disabled a:hover {
    color: silver;
}
.vakata-context li > a .vakata-contextmenu-sep {
   background: white;
    border-left: 1px solid #e2e3e3;
}
.vakata-context .vakata-contextmenu-shortcut {
    color: silver;
}

.vakata-context-rtl li > a.vakata-context-parent {
    background-image: url("data:image/gif;base64,R0lGODlhCwAHAIAAACgoKP///yH5BAEAAAEALAAAAAALAAcAAAINjI+AC7rWHIsPtmoxLAA7");
}
.vakata-context-rtl .vakata-context-separator > a {
    border-right: 1px solid #e2e3e3;
}
.vakata-context-rtl li > a .vakata-contextmenu-sep {
    border-left-color: white;
    background: #e2e3e3;
}

#jstree-dnd .jstree-ok {
    background: green;
}
#jstree-dnd .jstree-er {
    background: red;
}

.jstree-default .jstree-disabled > .jstree-icon {
    opacity: 0.8;
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'jstree-grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#jstree-grayscale");
    /* Firefox 10+ */
    filter: #f9f9f9;
    /* IE6-9 */
    -webkit-filter: grayscale(100%);
    /* Chrome 19+ & Safari 6+ */
}
.jstree-default .jstree-search {
    color: #8b0000;
}

.jstree-default > .jstree-striped {
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAkCAMAAAB/qqA+AAAABlBMVEUAAAAAAAClZ7nPAAAAAnRSTlMNAMM9s3UAAAAXSURBVHjajcEBAQAAAIKg/H/aCQZ70AUBjAATb6YPDgAAAABJRU5ErkJggg==") left top repeat;
}

.jstree-default .jstree-wholerow-clicked {
    color: #ffffff;
    background: #337ab7;

}

.jstree-default .jstree-node,
.jstree-default .jstree-icon {
    background-image: url("/jstree/dist/themes/default-dark/32px.png");
}

.jstree-default .jstree-themeicon-custom {
    background-color: transparent;
    background-image: none;
    background-position: 0 0;
}

    .jstree-default-responsive .jstree-wholerow {
        border-top: 1px solid rgba(255, 255, 255, 0.7);
        border-bottom: 1px solid rgba(64, 64, 64, 0.2);
        background: #9b9b9b;
    }

    .jstree-default-responsive .jstree-children .jstree-last > .jstree-wholerow {
        box-shadow: inset 0 -6px 3px -5px #ececec;
    }
    .jstree-default-responsive .jstree-children .jstree-open > .jstree-wholerow {
        box-shadow: inset 0 6px 3px -5px #ececec;
        border-top: 0;
    }

.libTree-panel-body{
    background-color: #323032;
}
.locTree-panel-body{
    background-color: #323232;
}

.disabledRow{
    color: red;
}
.rerunnableRow{
    color: white;
}

.sys-form-panel{
    background-color: #3c3f41;
    color: #ffffff;
}

a.fileListLink {
    color: #ffffff;
}

a.libListRow {
    color: #ffffff;
}

