/*-------------------DEFAULT---------------------------*/
body {
    transition: transform 0.3s;
    transform: scaleX(1.0);

}

.navbar-default .navbar-nav>li>a {
    color: #555555;
}

.rightCol {
     transition: background-color 1s;
     background-color: #dcdcdc;
 }

body {
    transition: color 1s;
    color: #383630;
}

.navbar-default {
    transition: background-color 1s;
     transition: background-color 1s;: #ffffff;;
    border-color: #f8f8f8;
}

.panel-default {
    border-color: #d0d0d0;
}

.panel-default>.panel-heading {
    color: #555555;
    transition: background-color 1s;
    background-color: #dcdcdc;
    border-color: #d0d0d0;
}

a {
    color: #367ae0;
}
.form-control[readonly], fieldset[disabled] .form-control {

    transition: background-color 1s;
    background-color: #f0f0f0;
}
.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {

    transition: background-color 1s;
    background-color: #d4d4d4;
}

#sysDescription, #description{
    transition: background-color 0.5s;
    background-color: #f9f9f9;
    border: 1px solid #555555;
}

.ql-picker-label, .ql-stroke{
    color: #367ae0;
    stroke:  #367ae0 !important;
}

#sysDescription.ql-disabled, #description.ql-disabled{
    /*color: #adadad;*/
    transition: background-color 0.5s;
    background-color: #ececec;
}

.table-striped > tbody > tr:nth-child(2n+1) {

    transition: background-color 1s;
    background-color: #f0f0f0;
}
.treePanelHandle {

    transition: background-color 1s;
    background-color: #d4d4d4;
}

#rowHandle {

    transition: background-color 1s;
    background-color: #d4d4d4;
}
a.list-group-item {
    color: #adadad;
}
#terminal-container {

    transition: background-color 1s;
    background-color: #2b2b2b;
    color: #bbbbbb;
}
#results_html {

    transition: background-color 1s;
    background-color: #383630;
}
.result_fresh {
    color: #f9f9f9;
}
.result_history {
    color: #f9f9f9;
}
#results_codes {

    transition: background-color 1s;
    background-color: #555555;
    color: #bbbbbb;
}

/*::-webkit-scrollbar {*/
    /*width: 14px;*/
/*}*/

/*::-webkit-scrollbar-track {*/
    /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);*/
    /*border-radius: 10px;*/
/*}*/

/*::-webkit-scrollbar-thumb {*/
    /*border-radius: 10px;*/
    /*-webkit-box-shadow: inset 0 0 6px #646464;*/
/*}*/

/*::-webkit-scrollbar-corner {*/
    /*background: transparent !important;*/
/*}*/

div.grippie {
    border-color:#DDDDDD;
    border-style:solid;
    border-width:0pt 1px 1px;
    cursor:s-resize;
    height:9px;
    overflow:hidden;
}

.bottom-row{
    margin-top: 6px;
}

.list-group-item {
    transition: background-color 1s;
    background-color: #f9f9f9;
    border: 0px solid #ddd;
    border-bottom: 1px solid #bcbcbc;
    border-top: 1px solid #ececec;
}

.form-control {
    color: #383630;
    transition: background-color 1s;
    background-color: #f9f9f9;
    border-color: #555555;
}

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    cursor: not-allowed;
    transition: background-color 1s;
    background-color: #ececec;
    color: #555555;
    opacity: 1;
}

.jobFormbtn{
    transition: background-color 1s;
    background-color: #d4d4d4;
    color: #367ae0;
}



.modal-content {
    color: #3c3e3f;
    transition: background-color 1s;
    background-color: #ececec;
}

.form-control::-webkit-input-placeholder { color: #a3a3a3; }  /* WebKit, Blink, Edge */
.form-control:-moz-placeholder { color: #a3a3a3; }  /* Mozilla Firefox 4 to 18 */
.form-control::-moz-placeholder { color: #a3a3a3; }  /* Mozilla Firefox 19+ */
.form-control:-ms-input-placeholder { color: #a3a3a3; }  /* Internet Explorer 10-11 */
.form-control::-ms-input-placeholder { color: #a3a3a3; }  /* Microsoft Edge */

.runningJobCompleteSuccess{
    color: #009b23 !important;
}
.runningJobCompleteFail{
    color: #901514 !important;
}
.runningJob{
    color: #323232 !important;
}

.customLibDropBox{
    transition: background-color 1s;
    background-color: #ececec;
}

.jstree-disabled{
    transition: background-color 1s;
    background-color: transparent !important;
}

.libTree-panel-body{
    transition: background-color 1s;
    background-color: #ececec;
}
.locTree-panel-body{
    transition: background-color 1s;
    background-color: #ececec;
}

.jstree-default .jstree-wholerow-hovered {
    color: #9b9b9b;
    background: #f0f0f0;
}

.jstree-default> .jstree-default>.jstree-wholerow-ul .jstree-clicked {
    background: 0 0;
    box-shadow: none;
    border-radius: 0;
    color: white;
}
.jstree-default>.jstree-wholerow-ul .jstree-hovered {
    background: 0 0;
    box-shadow: none;
    border-radius: 0;
    color: #2c3433;
}

.jstree-default .jstree-wholerow-clicked {
    transition: background 1s;
    background: #dcdcdc;
    color: #2c3433;
    /*background: -webkit-linear-gradient(top, #0078d7 0%, #0078d7 100%);*/
    /*background: linear-gradient(to bottom, #0078d7 0%, #0078d7 100%);*/
}

.jstree-default-responsive .jstree-wholerow {
    border-top: 1px solid rgba(255, 255, 255, 0.7);
    border-bottom: 1px solid rgba(64, 64, 64, 0.2);
    background: #ebebeb;
}
.jstree-default-responsive .jstree-wholerow-hovered {
    background: #6c88b9;
}
.jstree-default-responsive .jstree-wholerow-clicked {
    background: #beebff;
    color: #f9f9f9;
}
.jstree-default-responsive .jstree-children .jstree-last > .jstree-wholerow {
    box-shadow: inset 0 -6px 3px -5px #ececec;
}
.jstree-default-responsive .jstree-children .jstree-open > .jstree-wholerow {
    box-shadow: inset 0 6px 3px -5px #ececec;
    border-top: 0;
}

.disabledRow{
    color: #901514;
}
.rerunnableRow{
    color: #2b2b2b;
}

.needfull{
    color: #2b2b2b;
}

.jobRow{
    color: #2b2b2b;
}

.sys-form-panel{
    transition: background-color 1s;
    background-color: #ececec;
    color: #555555;
}

a.fileListLink {
    color: #2b2b2b;
}

a.libListRow {
    color: #2b2b2b;
}

.panel-primary>.panel-heading {
    color: #323232;
    transition: background-color 1s;
    background-color: #dcdcdc;
    border-color: #555555;
}

.panel-primary {
    border-color: #595b5d;
}

/* Tab Navigation */
.nav-tabs,
.nav-tabs > li > a {
    transition: background-color 1s;
    background-color: #ececec;
    box-shadow: inset 0 -8px 7px -9px rgba(0,0,0,.4),-2px -2px 5px -2px rgba(0,0,0,.4);
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover {
    color: #3c3e3f;
    transition: background-color 1s;
    background-color: #ffffff;
    box-shadow: inset 0 0 0 0 rgba(0,0,0,.4),-2px -3px 5px -2px rgba(0,0,0,.4);
}

.tab-pane {
    background: #f3f3f3;
    /*box-shadow: 0 0 4px rgba(0,0,0,.4);*/
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus{
    transition: background-color 1s;
    background-color: #f3f3f3;
    color: #3c3e3f;
}

input:checked + .slider {
    transition: background-color 0.5s;
    background-color: #367ae0;
}

input:focus + .slider {
    box-shadow: 0 0 1px #367ae0;
}

.systemRow{

}

.dashboardPanel{
    transition: background-color 1s;
    background-color: #f9f8f9;
}

.dashPanelBody{
    /*transition: background-color 1s;*/
    /*background-color: rgba(255, 255, 255,255);*/
}

.screenShotLink > a, .screenShotLink > a:hover{
    color: #49494b;
}

.screenshot-panel-body{
    /*transition: background-color 1s;*/
    /*background-color: rgba(70, 72, 74, 0);*/
}

/*.screenShotImageDashboard{*/
    /*box-shadow: 3px 5px 18px 1px rgba(51, 51, 51, 0.88);*/
/*}*/


#videoCanvas{
    box-shadow: 3px 5px 18px 1px rgba(51, 51, 51, 0.88);
}


.navbar-default .navbar-nav > li > a {
    color: #49494b;
}

.dashPanel{
    transition: background-color 1s;
    background-color: rgba(255, 255, 255, 255);
}

.navbar-default{
    color: #3c3e3f;
    transition: background-color 1s;
    background-color: #ffffff;
}

.builder_dash_btn{
    border-bottom: 2px solid #367ae0;
}
.builder_dash_btn:hover, .navbar-nav>.active{
    border-bottom: 4px solid #367ae0;
    transition: background-color 1s;
    background-color: #f9f9f9;

}

.dashSystemDropdownButton{

    color:#367ae0;

}

.dashDropButtonHR{
    border-top: 1px solid #000;
}

.jobCard > .card-header {
    transition: background-color 1s;
    background-color: rgba(0,0,0,.03);
    border-bottom: 1px solid rgba(0,0,0,.125);
    color: #367ae0;
}

.card-body{
    transition: background-color 1s;
    background-color: #f7f7f7;

    color: #1a1b1c;
}

.dashTable > thead > tr > th {
    border-color: #1a1b1c ;
}


.dashTbody > tr.dashListRowClicked > td.dashTableNameItem{

    border-color: #367ae0;
    color: black;
}

.dashTbody > tr.dashListRowClicked > td.dashTableDescriptionItem{
    color: black;
}

.dashTbody > tr > td{
    transition: background-color 1s;
    background-color: rgba(80, 80, 80, 0.3);
}

.dashTbody > tr:hover > td {
    transition: background-color .3s;
    background-color: rgba(40, 40, 40, 0.2);
}

.dashTbody > tr.dashListRowClicked > td{
    transition: background-color 1s;
    background-color: rgba(40, 40, 40, 0.1);
}

.dashTableBuildButton{
    color: #367ae0;
}
.dashTableOpenButton{ 
    color: #367ae0;
}

.stylePickTop{
    color: #367ae0
}

.DashListRowPass{
    color: #009b23;
}
.DashListRowFail{
    color: #901514;
}

.ace_editor{
    transition: color 0.5s;
    color: #000000;
}

.aceDisabled {
    transition: background-color 0.5s;
    background-color: #ececec;
}

.compVarDelButton{
    color:#901514;
}

.ql-active{
    filter: brightness(50%);
}

.compVarEditValButton, .compVarEditButton, .ql-snow a {
    color: #367ae0;
}

.idInspectLabel{
    color: #000000;
}

