/*-------------------DEFAULT---------------------------*/
body {
    transition: transform 0.3s;
    transform: scaleX(1.0);

}

a {
    color: #367ae0;
}

.navbar-default .navbar-nav>li>a {
    transition: color 0.5s;
    color: #555555;
}

.jobScreen{
    background-color: #ececec;
}
.sysScreen{
    background-color: #ececec;
}

#rightCol {
     transition: background-color 1s;
    /*background-color: #ececec;*/
    /*border-color: #ececec;*/
 }

body {
    transition: color 1s;
    color: #383630;
}

.navbar-default {
    transition: background-color 1s;
     transition: background-color 1s;: #ffffff;;
    border-color: #f8f8f8;
}

.panel-default {
    border-color: #d0d0d0;
}

.panel-default>.panel-heading {
    color: #555555;
    transition: background-color 1s;
    background-color: #dcdcdc;
    border-color: #d0d0d0;
}

/*a {*/
    /*color: #367ae0;*/
/*}*/
.form-control[readonly], fieldset[disabled] .form-control {

    transition: background-color 1s;
    background-color: #f0f0f0;
}
.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {

    transition: background-color 1s;
    background-color: #d4d4d4;
}

#sysDescription, #description{
    transition: background-color 0.5s;
    background-color: #f9f9f9;
    border: 1px solid #555555;
}

.ql-picker-label, .ql-stroke{
    transition: color 0.5s;
    color: #367ae0;
    stroke:  #367ae0 !important;
}

#sysDescription.ql-disabled, #description.ql-disabled{
    /*color: #adadad;*/
    transition: background-color 0.5s;
    background-color: #ececec;
}

.table-striped > tbody > tr:nth-child(2n+1) {

    transition: background-color 1s;
    background-color: #f0f0f0;
}
.treePanelHandle {

    transition: background-color 1s;
    background-color: #d4d4d4;
}

#rowHandle {

    transition: background-color 1s;
    background-color: #d4d4d4;
}
a.list-group-item {
    color: #adadad;
}
#terminal-container {

    transition: background-color 1s;
    background-color: #2b2b2b;
    color: #bbbbbb;
}
#results_html {

    transition: background-color 1s;
    background-color: #383630;
}
.result_fresh {
    color: #f9f9f9;
}
.result_history {
    color: #f9f9f9;
}
#results_codes {

    transition: background-color 1s;
    background-color: #555555;
    color: #bbbbbb;
}

div.grippie {
    border-color:#DDDDDD;
    border-style:solid;
    border-width:0pt 1px 1px;
    cursor:s-resize;
    height:9px;
    overflow:hidden;
}

.bottom-row{
    margin-top: 6px;
}

.list-group-item {
    transition: background-color 1s;
    background-color: #f9f9f9;
    border: 0px solid #ddd;
    border-bottom: 1px solid #bcbcbc;
    border-top: 1px solid #ececec;
}

.form-control {
    color: #383630;
    transition: background-color 1s;
    background-color: #f9f9f9;
    border-color: #555555;
}

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    cursor: not-allowed;
    transition: background-color 1s;
    background-color: #ececec;
    color: #555555;
    opacity: 1;
}

.jobFormbtn{
    transition: background-color 1s;
    background-color: #d4d4d4;
    color: #367ae0;
}

.modal-footer > .jobFormbtn{
    background-color: #367ae0;
    color: #d4d4d4;
}



.form-control::-webkit-input-placeholder { color: #a3a3a3; }  /* WebKit, Blink, Edge */
.form-control:-moz-placeholder { color: #a3a3a3; }  /* Mozilla Firefox 4 to 18 */
.form-control::-moz-placeholder { color: #a3a3a3; }  /* Mozilla Firefox 19+ */
.form-control:-ms-input-placeholder { color: #a3a3a3; }  /* Internet Explorer 10-11 */
.form-control::-ms-input-placeholder { color: #a3a3a3; }  /* Microsoft Edge */

.runningJobCompleteSuccess{
    transition: color 0.5s;
    color: #009b23 !important;
}
.runningJobCompleteFail{
    transition: color 0.5s;
    color: #901514 !important;
}
.runningJob{
    transition: color 0.5s;
    color: #323232 !important;
}

.customLibDropBox{
    transition: background-color 1s;
    background-color: #ececec;
}

.jstree-disabled{
    transition: background-color 1s;
    background-color: transparent !important;
}

.libTree-panel-body{
    transition: background-color 1s;
    background-color: #ececec;
}
.locTree-panel-body{
    transition: background-color 1s;
    background-color: #ececec;
}

.jstree-default .jstree-wholerow-hovered {
    color: #9b9b9b;
    background: rgba(220, 220, 220, 0.6);
}

/*.jstree-default> .jstree-default>.jstree-wholerow-ul .jstree-clicked {*/
    /*background: 0 0;*/
    /*box-shadow: none;*/
    /*border-radius: 0;*/
    /*color: white;*/
/*}*/

.jstree-default .jstree-wholerow-clicked {
    transition: background 1s;
    /*background: #dcdcdc;*/
    background: rgba(220, 220, 220, 0.6);
    border: 2px solid #333333;
    color: #2c3433;
    /*background: -webkit-linear-gradient(top, #0078d7 0%, #0078d7 100%);*/
    /*background: linear-gradient(to bottom, #0078d7 0%, #0078d7 100%);*/
}

.jstree-codeBlock{
    transition: border 0.5s;
    border-left: 4px solid #367ae0;
}

.disabledRow{
    color: #901514;
}
.rerunnableRow{
    color: #2b2b2b;
}

.newJobRow{
    color: #2b2b2b !important;
}

.needfull{
    color: #2b2b2b;
}

.jobRow{
    transition: background-color 0.5s;
    color: #009b23;
}

.sys-form-panel{
    transition: background-color 1s;
    background-color: #ececec;
    color: #555555;
}

a.fileListLink {
    color: #2b2b2b;
}

a.libListRow {
    color: #2b2b2b;
}

.panel-primary>.panel-heading {
    color: #323232;
    transition: background-color 1s;
    background-color: #dcdcdc;
    border-color: #555555;
}

.panel-primary {
    border-color: #595b5d;
}

/* Tab Navigation */
.nav-tabs,
.nav-tabs > li > a {
    transition: background-color 1s;
    background-color: #ececec;
    box-shadow: inset 0 -8px 7px -9px rgba(0,0,0,.4),-2px -2px 5px -2px rgba(0,0,0,.4);
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover {
    color: #3c3e3f;
    transition: background-color 1s;
    background-color: #ffffff;
    box-shadow: inset 0 0 0 0 rgba(0,0,0,.4),-2px -3px 5px -2px rgba(0,0,0,.4);
}

.tab-pane {
    background: #f3f3f3;
    /*box-shadow: 0 0 4px rgba(0,0,0,.4);*/
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus{
    transition: background-color 1s;
    background-color: #f3f3f3;
    color: #3c3e3f;
}

input:checked + .slider {
    transition: background-color 0.5s;
    background-color: #367ae0;
}

input:focus + .slider {
    box-shadow: 0 0 1px #367ae0;
}

input:not(:checked) + .slider.round:before{
    background-color: #367ae0;
}

.slider {
    transition: background-color 0.5s;
    background-color: #b6b6b6;
}

.systemRow{

}

.dashboardPanel{
    transition: background-color 1s;
    background-color: #f9f8f9;
}

.dashPanelBody{
    /*transition: background-color 1s;*/
    /*background-color: rgba(255, 255, 255,255);*/
}

.screenShotLink > a, .screenShotLink > a:hover{
    color: #49494b;
}

.screenshot-panel-body{
    /*transition: background-color 1s;*/
    /*background-color: rgba(70, 72, 74, 0);*/
}

/*.screenShotImageDashboard{*/
    /*box-shadow: 3px 5px 18px 1px rgba(51, 51, 51, 0.88);*/
/*}*/


#videoCanvas{
    box-shadow: 3px 5px 18px 1px rgba(51, 51, 51, 0.88);
}


.navbar-default .navbar-nav > li > a {
    color: #367ae0;
}

.dashPanel{
    transition: background-color 1s;
    background-color: rgba(255, 255, 255, 255);
}

.navbar-default{
    /*color: #3c3e3f;*/
    transition: background-color 1s;
    background-color: #ffffff;
}

.builder_dash_btn{
    border-bottom: 2px solid #367ae0;
}
.builder_dash_btn:hover, .navbar-nav>.active{
    border-bottom: 4px solid #367ae0;
    transition: background-color 1s;
    background-color: #f9f9f9;

}

.dashSystemDropdownButton, .buildCodeDropdownButton{

    color:#367ae0;

}

.dashDropButtonHR{
    border-top: 1px solid #000;
}

.jobCard > .card-header {
    transition: background-color 1s;
    background-color: rgba(0,0,0,.03);
    border-bottom: 1px solid rgba(0,0,0,.125);
    color: #367ae0;
}

.card-body{
    transition: background-color 1s;
    background-color: #f7f7f7;
    transition: color 0.5s;
    color: #1a1b1c;
}

.dashTable > thead > tr > th {
    transition: color 0.5s;
    border-color: #1a1b1c ;
}

.dashTbody > tr.dashListRowClicked{
    box-shadow: 3px 5px 9px 1px rgba(112, 108, 108, 0.58);
    z-index: 1000;
}

.dashTbody > tr.dashListRowClicked > td.dashTableNameItem{

    border-color: #367ae0;
    color: black;
}

.dashTbody > tr.dashListRowClicked > td.dashTableDescriptionItem{
    transition: color 0.5s;
    color: black;
}

.dashTbody > tr > td{
    transition: background-color 1s;
    background-color: rgba(206, 206, 206, 0.13);
}

.dashTbody > tr:hover > td {
    transition: background-color .3s;
    background-color: rgba(40, 40, 40, 0.2);
}

.dashTbody > tr.dashListRowClicked > td{
    transition: background-color 1s;
    background-color: rgba(0, 0, 0, 0.29);

}

.dashTableBuildButton{
    transition: color 0.5s;
    color: #367ae0;
}
.dashTableOpenButton{
    transition: color 0.5s;
    color: #367ae0;
}

.stylePickTop, .buildCodeFilter{
    transition: color 0.5s;
    color: #367ae0
}

.dashTableRow:nth-child(2n+1) {
    background: #ececec
}


.DashListRowPass{
    transition: color 0.5s;
    color: #009b23;
}
.DashListRowFail{
    transition: color 0.5s;
    color: #901514;
}

.ace_editor{
    transition: color 0.5s;
    color: #000000;
}

.aceDisabled {
    transition: background-color 0.5s;
    background-color: #ececec;
}

.compVarDelButton{
    transition: color 0.5s;
    color:#901514;
}

.ql-active{
    filter: brightness(50%);
}

.compVarEditValButton, .compVarEditButton, .ql-snow a, .buildCodePickButton, .compFocusButton {
    transition: color 0.5s;
    color: #367ae0;
}

.searchCycleBtn, .search-icon{
    transition: color 2.5s;
    color: #367ae0;
}

.idInspectLabel, .buildCodeNameRead, .matchTreeLi{
    transition: color 0.5s;
    color: #000000;
}

.dropdown-menu, .dropdown-toggle:disabled  {
    transition: color 0.5s;
    color: #367ae0;
    background-color: rgba(236, 236, 236, 0.9);
    z-index: 1001;
}

.welcome-hr{
    border-color: #367ae0;
}

.welcome-nav{
    color: #000000;
    transition: background-color 0.5s;
    /*background-color: #1a1b1c;*/
    border-bottom: 4px solid #367ae0;
}

#inspectLink.active{
    transition: color 0.2s;
    color: #000000;
}

#videoRefreshLink.active{
    transition: color 0.2s;
    color: #000000;
}

.floatPop, .hoverPop, .clickPop {
    transition: background 0.2s;
    background: #f8f8f8;
    border: 2px solid #367ae0;
    box-shadow: 3px 5px 9px 1px rgba(51, 51, 51, 0.78);
}

.clickPop .popover-body, .hoverPop .popover-body, .floatPop .popover-body {
    transition: color 0.5s;
    color: #000000;
}

.bs-popover-top .arrow::after,
.bs-popover-auto[x-placement^="top"] .arrow::after {
    border-top-color: #f8f8f8;
}

.bs-popover-left .arrow::after,
.bs-popover-auto[x-placement^="left"] .arrow::after {
    border-left-color: #f8f8f8;
}

.bs-popover-right .arrow::after,
.bs-popover-auto[x-placement^="right"] .arrow::after {
    border-right-color: #f8f8f8;
}

.bs-popover-bottom .arrow::after,
.bs-popover-auto[x-placement^="bottom"] .arrow::after {
    border-bottom-color: #f8f8f8;
}

.floatPopTaskLabel{
    color: #009b23
}

btn:focus {
    outline: 3px solid #367ae0;
}

.modal{
    transition: background-color 0.2s;
    background-color: rgba(255,255,255,.2);
}

.modal-content {
    color: black;
    transition: background-color 0.2s;
    background-color: rgba(255,255,255,.6);
    border: 2px solid #367ae0;
}

.welcome-modal-content{
}

.sidebar{
    /*transition: background-color 0.2s;*/
    background-color: #367ae0;
    box-shadow: 3px 5px 9px 1px rgba(51, 51, 51, 0.88);
    z-index: 1000;
}
.sidebar ul li a.nav-link {
    color: #ffffff;
    /*transition: background-color 0.2s;*/
    /*background-color: #ffff;*/
}
.sidebar ul li a.active {
    /*transition: background-color 0.2s;*/
    /*background-color: #ececec;*/
    background-color: rgba(0, 0, 0, 0.1);
}

/*.navbar-brand{*/
    /*transition: color 2.5s;*/
    /*color: #367ae0;*/
/*}*/


.nav-text-muted{
    transition: color 2.5s;
    color: #bbbbbb;
}

a#dashBtn i {
    color: #00C3E3;
}
a#componentsBtn i {
    color: #00DDB7;
}
a#buildCodeBtn i {
    color: #8BF088;
}

.nav-link .fa-book {
    color: #bbbbbb;
}

#sidebar > #navLeftIcon {
    background-color: black;
    margin: 5px;
}
#sidebar > #navLeftIcon > a {
    color: white;
}
#navTopIcon > #navLeftIcon {
    background-color: inherit;
    /*margin: 5px;*/
}
#navTopIcon > #navLeftIcon > a {
    color: #367ae0;
}

.buildCodeMatchRow{
    color: #367ae0;
}
