/*-------------------DEFAULT---------------------------*/

.navbar-default .navbar-nav>li>a {
    color: #555555;
}

.navbar-default {
    background-color: #dcdcdc;;
    border-color: #f0f0f0;
}

body {
    color: #383630;
}

.panel-default {
    border-color: #d0d0d0;
}
/*.panel {*/
    /*background-color: #ececec;*/
/*}*/
.panel-default>.panel-heading {
    color: #555555;
    background-color: #dcdcdc;
    border-color: #d0d0d0;
}

a {
    color: #0066ff;
}
.form-control[readonly], fieldset[disabled] .form-control {
    background-color: #f0f0f0;
}
.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    background-color: #d4d4d4;
}
.table-striped > tbody > tr:nth-child(2n+1) {
    background-color: #f0f0f0;
}
.treePanelHandle {
    background-color: #d4d4d4;
}

/*.jstree-anchor {*/
    /*color: #49494b;*/
/*}*/

/*.jstree-anchor, .jstree-anchor:link, .jstree-anchor:visited, .jstree-anchor:hover, .jstree-anchor:active {*/
    /*text-decoration: none;*/
    /*color: #49494b;*/
/*}*/

#rowHandle {
    background-color: #d4d4d4;
}
a.list-group-item {
    color: #adadad;
}
#terminal-container {
    background-color: #2b2b2b;
    color: #bbbbbb;
}
#results_html {
    background-color: #383630;
}
.result_fresh {
    color: #f9f9f9;
}
.result_history {
    color: #f9f9f9;
}
#results_codes {
    background-color: #555555;
    color: #bbbbbb;
}

::-webkit-scrollbar {
    width: 14px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px #646464;
}

/*::-webkit-scrollbar-corner { background: rgba(0,0,0,0); }*/
/*::-webkit-resizer {*/
    /*background: #3c3f41 ;*/
    /*border-top:0px solid #D9D9D9;*/
    /*border-left:0px solid #D9D9D9;*/
/*}*/
/*::-webkit-scrollbar-corner {*/
    /*background: #3c3f41;*/
    /*border-top:0px solid #D9D9D9;*/
    /*border-left:0px solid #D9D9D9;*/
/*}*/
::-webkit-scrollbar-corner {
    background: transparent !important;
}
/*::-webkit-resizer {*/
    /*width: 30px !important;*/
    /*height: 30px !important;*/
/*}*/

div.grippie {
    border-color:#DDDDDD;
    border-style:solid;
    border-width:0pt 1px 1px;
    cursor:s-resize;
    height:9px;
    overflow:hidden;
}

.bottom-row{
    margin-top: 6px;
}

.list-group-item {
    background-color: #f9f9f9;
    border: 0px solid #ddd;
    border-bottom: 1px solid #bcbcbc;
    border-top: 1px solid #ececec;
}

.form-control {
    color: #383630;
    background-color: #f9f9f9;
    border-color: #555555;
}

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    cursor: not-allowed;
    background-color: #ececec;
    color: #555555;
    opacity: 1;
}

.jobFormbtn{
    background-color: #d4d4d4;
    color: #3c3e3f;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
    color: #3c3e3f;
    background-color: #f9f9f9;
}

.modal-content {
    color: #3c3e3f;
    background-color: #ececec;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #555555;
}

.navbar-default .navbar-nav > li > a {
    color: #555555;
}

.form-control::-webkit-input-placeholder { color: #a3a3a3; }  /* WebKit, Blink, Edge */
.form-control:-moz-placeholder { color: #a3a3a3; }  /* Mozilla Firefox 4 to 18 */
.form-control::-moz-placeholder { color: #a3a3a3; }  /* Mozilla Firefox 19+ */
.form-control:-ms-input-placeholder { color: #a3a3a3; }  /* Internet Explorer 10-11 */
.form-control::-ms-input-placeholder { color: #a3a3a3; }  /* Microsoft Edge */

.runningJobCompleteSuccess{
    color: #009b23 !important;
}
.runningJobCompleteFail{
    color: #901514 !important;
}
.runningJob{
    color: #323232 !important;
}

.customLibDropBox{
    background-color: #ececec;
}

.jstree-disabled{
    background-color: transparent !important;
}

/*.jstree-default .jstree-node,*/
/*.jstree-default .jstree-icon {*/
    /*background-image: url("/jstree/dist/themes/default/32px.png");*/
/*}*/

.libTree-panel-body{
    background-color: #ececec;
}
.locTree-panel-body{
    background-color: #ececec;
}

.jstree-default .jstree-wholerow-hovered {
    color: #9b9b9b;
    background: #f0f0f0;
}

.jstree-default> .jstree-default>.jstree-wholerow-ul .jstree-clicked {
    background: 0 0;
    box-shadow: none;
    border-radius: 0;
    color: white;
}
.jstree-default>.jstree-wholerow-ul .jstree-hovered {
    background: 0 0;
    box-shadow: none;
    border-radius: 0;
    color: #2c3433;
}

.jstree-default .jstree-wholerow-clicked {
    background: #dcdcdc;
    color: #2c3433;
    /*background: -webkit-linear-gradient(top, #0078d7 0%, #0078d7 100%);*/
    /*background: linear-gradient(to bottom, #0078d7 0%, #0078d7 100%);*/
}

.jstree-default-responsive .jstree-wholerow {
    border-top: 1px solid rgba(255, 255, 255, 0.7);
    border-bottom: 1px solid rgba(64, 64, 64, 0.2);
    background: #ebebeb;
}
.jstree-default-responsive .jstree-wholerow-hovered {
    background: #6c88b9;
}
.jstree-default-responsive .jstree-wholerow-clicked {
    background: #beebff;
    color: #f9f9f9;
}
.jstree-default-responsive .jstree-children .jstree-last > .jstree-wholerow {
    box-shadow: inset 0 -6px 3px -5px #ececec;
}
.jstree-default-responsive .jstree-children .jstree-open > .jstree-wholerow {
    box-shadow: inset 0 6px 3px -5px #ececec;
    border-top: 0;
}

.disabledRow{
    color: red;
}
.rerunnableRow{
    color: #2b2b2b;
}

.needfull{
    color: #2b2b2b;
}

.jobRow{
    color: #2b2b2b;
}

.sys-form-panel{
    background-color: #ececec;
    color: #555555;
}

a.fileListLink {
    color: #2b2b2b;
}

a.libListRow {
    color: #2b2b2b;
}

.panel-primary>.panel-heading {
    color: #323232;
    background-color: #dcdcdc;
    border-color: #555555;
}

.panel-primary {
    border-color: #595b5d;
}

/* Tab Navigation */
.nav-tabs,
.nav-tabs > li > a {
    background-color: #ececec;
    box-shadow: inset 0 -8px 7px -9px rgba(0,0,0,.4),-2px -2px 5px -2px rgba(0,0,0,.4);
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover {
    color: #3c3e3f;
    background-color: #ffffff;
    box-shadow: inset 0 0 0 0 rgba(0,0,0,.4),-2px -3px 5px -2px rgba(0,0,0,.4);
}

.tab-pane {
    background: #f3f3f3;
    /*box-shadow: 0 0 4px rgba(0,0,0,.4);*/
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus{
    background-color: #f3f3f3;
    color: #3c3e3f;
}

.systemRow{

}

.dashboardPanel{
    background: url("/images/light-pattern2.png") no-repeat center top;
    background-size: cover;

}

.screenShotLink > a, .screenShotLink > a:hover{
    color: #49494b;
}



.dashPanelBody{
    /*opacity: 1;*/
    background-color: rgba(132, 132, 132, 0.38);
}

