/*-------------------DEFAULT---------------------------*/

.navbar-default .navbar-nav>li>a {
    color: #515857;
}

.navbar-default {
    background-color: #e9ece6;;
    border-color: #aab8b6;
}

body {
    color: #545b5a;
}

.panel-default {
    border-color: #c0dfd9;
}
.panel {
    background-color: #dcdcdc;
}
.panel-default>.panel-heading {
    color: #545b5a;
    background-color: #aab8b6;
    border-color: #c0dfd9;
}

a {
    color: #545b5a;
}
.form-control[readonly], fieldset[disabled] .form-control {
    background-color: #e9ece6;
}
.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    background-color: #e9ece6;
}
.table-striped > tbody > tr:nth-child(2n+1) {
    background-color: #dcdcdc;
}
.treePanelHandle {
    background-color: #aab8b6;
}
#rowHandle {
    background-color: #aab8b6;
}
a.list-group-item {
    color: #515857;
}
#terminal-container {
    background-color: #2b2b2b;
    color: #bbbbbb;
}
#results_html {
    background-color: #313335;
}
.result_fresh {
    color: #bccbc9;
}
.result_history {
    color: #d0d0d0;
}
#results_codes {
    background-color: #545b5a;
    color: #d0d0d0;
}

::-webkit-scrollbar {
    width: 14px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px #999;
}

/*::-webkit-scrollbar-corner { background: rgba(0,0,0,0); }*/
/*::-webkit-resizer {*/
    /*background: #3c3f41 ;*/
    /*border-top:0px solid #D9D9D9;*/
    /*border-left:0px solid #D9D9D9;*/
/*}*/
/*::-webkit-scrollbar-corner {*/
    /*background: #3c3f41;*/
    /*border-top:0px solid #D9D9D9;*/
    /*border-left:0px solid #D9D9D9;*/
/*}*/
::-webkit-scrollbar-corner {
    background: transparent !important;
}
/*::-webkit-resizer {*/
    /*width: 30px !important;*/
    /*height: 30px !important;*/
/*}*/

div.grippie {
    border-color: #bccbc9;
    border-style:solid;
    border-width:0pt 1px 1px;
    cursor:s-resize;
    height:9px;
    overflow:hidden;
}

.bottom-row{
    margin-top: 6px;
}

.list-group-item {
    background-color: #dcdcdc;
    border: 0px solid #c0dfd9;
    border-bottom: 1px solid #dcdcdc;
    border-top: 1px solid #c0dfd9;
}

.form-control {
    color: #545b5a;
    background-color: #e9ece6;
    border-color: #c0dfd9;
}

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    cursor: not-allowed;
    background-color: #aab8b6;
    color: #515857;
    opacity: 1;
}

.jobFormbtn{
    background-color: #d0d0d0;
    color: #515857;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
    color: #515857;
    background-color: #dcdcdc;
}

.modal-content {
    color: #545b5a;
    background-color: #d0d0d0;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #545b5a;
}

.navbar-default .navbar-nav > li > a {
    color: #545b5a;
}

.form-control::-webkit-input-placeholder { color: #545b5a; }  /* WebKit, Blink, Edge */
.form-control:-moz-placeholder { color: #545b5a; }  /* Mozilla Firefox 4 to 18 */
.form-control::-moz-placeholder { color: #545b5a; }  /* Mozilla Firefox 19+ */
.form-control:-ms-input-placeholder { color: #545b5a; }  /* Internet Explorer 10-11 */
.form-control::-ms-input-placeholder { color: #545b5a; }  /* Microsoft Edge */

.runningJobCompleteSuccess{
    color: #009b23 !important;
}
.runningJobCompleteFail{
    color: #901514 !important;
}
.runningJob{
    color: #545b5a !important;
}

.customLibDropBox{
    background-color: #e9ece6;
}

.jstree-disabled{
    background-color: transparent !important;
}

/*.jstree-default .jstree-node,*/
/*.jstree-default .jstree-icon {*/
    /*background-image: url("/jstree/dist/themes/default/32px.png");*/
/*}*/

.libTree-panel-body{
    background-color: #dcdcdc;
}
.locTree-panel-body{
    background-color: #dcdcdc;
}

.jstree-default .jstree-wholerow-hovered {
    color: #515857;
    background: #d0d0d0;
}

.jstree-default> .jstree-default>.jstree-wholerow-ul .jstree-clicked {
    background: 0 0;
    box-shadow: none;
    border-radius: 0;
    color: #3c3e3f;
}
.jstree-default>.jstree-wholerow-ul .jstree-hovered {
    background: 0 0;
    box-shadow: none;
    border-radius: 0;
    color: #545b5a;
}

.jstree-default .jstree-wholerow-clicked {
    background: #e9ece6;
    color: #515857;
    /*background: -webkit-linear-gradient(top, #c0dfd9 0%, #c0dfd9 100%);*/
    /*background: linear-gradient(to bottom, #c0dfd9 0%, #c0dfd9 100%);*/
}

.jstree-default-responsive .jstree-wholerow {
    border-top: 1px solid rgba(192, 223, 217, 0.7);
    border-bottom: 1px solid rgba(64, 64, 64, 0.2);
    background: #d0d0d0;
}
.jstree-default-responsive .jstree-wholerow-hovered {
    background: #d0d0d0;
}
.jstree-default-responsive .jstree-wholerow-clicked {
    background: #e9ece6;
    color: #515857;
}
.jstree-default-responsive .jstree-children .jstree-last > .jstree-wholerow {
    box-shadow: inset 0 -6px 3px -5px #545b5a;
}
.jstree-default-responsive .jstree-children .jstree-open > .jstree-wholerow {
    box-shadow: inset 0 6px 3px -5px #545b5a;
    border-top: 0;
}

.disabledRow{
    color: red;
}
.rerunnableRow{
    color: #545b5a;
}

.sys-form-panel{
    background-color: #e9ece6;
    color: #545b5a;
}

a.fileListLink {
    color: #545b5a;
}

a.libListRow {
    color: #545b5a;
}

.panel-primary>.panel-heading {
    color: #545b5a;
    background-color: #aab8b6;
    border-color: #c0dfd9;
}

.panel-primary {
    border-color: #c0dfd9;
}

/* Tab Navigation */
.nav-tabs,
.nav-tabs > li > a {
    background-color: #aab8b6;
    box-shadow: inset 0 -8px 7px -9px rgba(0,0,0,.4),-2px -2px 5px -2px rgba(0,0,0,.4);
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover {
    color: #545b5a;
    background-color: #aab8b6;
    box-shadow: inset 0 0 0 0 rgba(0,0,0,.4),-2px -3px 5px -2px rgba(0,0,0,.4);
}

.tab-pane {
    background: #e9ece6;
    box-shadow: 0 0 4px rgba(0,0,0,.4);
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus{
    background-color: #e9ece6;
    color: #545b5a;
}

input:checked + .slider {
    background-color: #bccbc9;
}

input:focus + .slider {
    box-shadow: 0 0 1px #bccbc9;
}
